<template>
  <div class="overlay" style="display: flex; flex-direction: column; justify-content: center; align-items: center">
    <div style="width: 250px; box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px; padding: 10px">
      <el-row type="flex" :gutter="10" justify="space-between" align="middle">
        <el-col :span="24">
          <el-tooltip content="логин (без open.ru)" placement="left">
            <el-input placeholder="chehoff_ap" v-model="auth.login" clearable></el-input>
          </el-tooltip>
        </el-col>
        <el-col :span="0.1">
          <el-button :loading="auth.is_wait" :disabled="auth.disabled()" @click="auth.exe()" type="primary">войти</el-button>
        </el-col>
      </el-row>
    </div>
  </div>
</template>

<script>
  import auth from '../../provider/common/auth'
  import db from '../../db'
  import eve from '../../event'

  export default {
    data(){
        return {
          auth:{
            login: '',
            is_wait: false,
            init: function () {
              this.auth.login = ''
            }.bind(this),
            disabled: function(){
              return this.auth.login.length==0
            }.bind(this),
            exe: async function () {
              this.auth.is_wait = true
              try{
                let data = await auth.user.detail(this.auth.login)
                db.user(
                  this.auth.login,
                  data.result.firstname,
                  data.result.lastname,
                  data.result.middlename,
                  data.result.email
                )
//                db.user.login = this.auth.login
//                db.user.firstname = data.result.firstname
//                db.user.lastname = data.result.lastname
//                db.user.middlename = data.result.middlename
//                db.user.email = data.result.email
                eve.app.login(this.auth.login)
              }
              catch (e){
                eve.app.notify.error('Ошибка авторизации', e)
              }
              this.auth.is_wait = false
            }.bind(this)

          }
        }
    },
    methods:{}
  }
</script>

<style scoped>
  .overlay{
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
  }
  .top_offset{
    margin-top: 5px;
  }
</style>
