<template>
  <div class="overlay" style="display: flex; flex-direction: column; justify-content: center; align-items: center" v-loading="true" element-loading-text="идет подключение ...">
  </div>
</template>

<script>
  export default {
    name: 'connecting',
    data: function() {
      return {}
    }
  }
</script>

<style scoped>
  .overlay{
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
  }
</style>
