<template>
  <div>
    <div class="toolbar" style="padding: 5px 5px">

      <el-popover
        ref="main_menu"
        trigger="click"
        width="200"
        placement="bottom-start"
      >
        <el-tooltip content="Контур" placement="top">
          <el-select v-model="contour"  placeholder="выбрать контур">
            <el-option  v-for="(value, key) in contours"  :key="key"  :value="key" :label="value"></el-option>
          </el-select>
        </el-tooltip>

        <el-row>
          <a href="https://confluence.open.ru/display/UTKK/4.+20+TESTesterone" target="_blank">инструкция</a>
        </el-row>
        <el-row justify="start" style="margin-top: 30px" gutter="30" align="top">
          <el-col :span="24" >
            <b>СОЗ</b>
            <table style="width: 100%">
              <tr>
                <td>Генератор фраз</td><td align="right"><el-switch :value="layouts_obj.phrase_generator!=undefined" active-color="#13ce66" @change="(e)=>{on_menu_checked('phrase_generator', e)}"></el-switch></td>
              </tr>
              <tr>
                <td>Текст стат</td><td align="right"><el-switch :value="layouts_obj.text_stats!=undefined" active-color="#13ce66" @change="(e)=>{on_menu_checked('text_stats', e)}"></el-switch></td>
              </tr>
              <tr>
                <td>Текст</td><td align="right"><el-switch :value="layouts_obj.texter!=undefined" active-color="#13ce66" @change="(e)=>{on_menu_checked('texter', e)}"></el-switch></td>
              </tr>
              <tr>
                <td>Фразы</td><td align="right"><el-switch :value="layouts_obj.phrases!=undefined" active-color="#13ce66" @change="(e)=>{on_menu_checked('phrases', e)}"></el-switch></td>
              </tr>
              <tr>
                <td>Запросы</td><td align="right"><el-switch :value="layouts_obj.request!=undefined" active-color="#13ce66" @change="(e)=>{on_menu_checked('request', e)}"></el-switch></td>
              </tr>
              <tr>
                <td>Заявка</td><td align="right"><el-switch :value="layouts_obj.order!=undefined" active-color="#13ce66" @change="(e)=>{on_menu_checked('order', e)}"></el-switch></td>
              </tr>
              <tr>
                <td>Список заявок</td><td align="right"><el-switch :value="layouts_obj.order_list!=undefined" active-color="#13ce66" @change="(e)=>{on_menu_checked('order_list', e)}"></el-switch></td>
              </tr>
              <tr>
                <td>Панель управления</td><td align="right"><el-switch :value="layouts_obj.control_panel!=undefined" active-color="#13ce66" @change="(e)=>{on_menu_checked('control_panel', e)}"></el-switch></td>
              </tr>
              <tr>
                <td>Пользователи</td><td align="right"><el-switch :value="layouts_obj.users!=undefined" active-color="#13ce66" @change="(e)=>{on_menu_checked('users', e)}"></el-switch></td>
              </tr>
              <tr>
                <td>Клонирование</td><td align="right"><el-switch :value="layouts_obj.xerox!=undefined" active-color="#13ce66" @change="(e)=>{on_menu_checked('xerox', e)}"></el-switch></td>
              </tr>
              <tr>
                <td>Клонирование</td><td align="right"><el-switch :value="layouts_obj.semantic!=undefined" active-color="#13ce66" @change="(e)=>{on_menu_checked('semantic', e)}"></el-switch></td>
              </tr>
            </table>
          </el-col>
          <!--<el-col :span="12" ></el-col>-->
        </el-row>
        <el-row>
          <el-button type="text" @click="logout">выйти из программы</el-button>
        </el-row>
      </el-popover>

      <el-button type="text" icon="el-icon-menu" style="color: white;" v-popover:main_menu></el-button>
      <el-button type="text" style="color: white;">КОНТУР <span style="font-weight: 600">{{contours[contour]}}</span></el-button>

      <!--<el-row type="flex" :gutter="5" justify="space-between" align="middle">-->
        <!--<el-col :span="23">-->
          <!---->
        <!--</el-col>-->
        <!--<el-col :span="2">-->

        <!--</el-col>-->
      <!--</el-row>-->

    </div>


    <div style="margin-top: 38px"></div>

    <!--forms-->
    <grid-layout
      :layout="layouts"
      :col-num="36"
      :row-height="15"
      :is-draggable="true"
      :is-resizable="true"
      :vertical-compact="true"
      :margin="[5, 5]"
      :use-css-transforms="true"
    >
      <grid-item v-for="item in layouts"
                 :x="item.x"
                 :y="item.y"
                 :w="item.w"
                 :h="item.h"
                 :i="item.i"
                 :key="item.i"
                 drag-ignore-from=".unmoved"
                 @resize="on_resize"
                 @move="on_move"
      >
        <div class="container" >
          <!--header-->
          <div class="container-header">
            <el-row :gutter="0" type="flex" align="middle" justify="space-between">
              <el-col :span="23">{{containers[item.i].title}}</el-col>
              <el-col :span="1" style="max-width: 12px; min-width: 12px"><el-button type="text" icon="el-icon-close" style="padding: 5px 0px 6px 0px; color: white" @click="hide(item.i)"></el-button></el-col>
            </el-row>
          </div>
          <!--body-->
          <div class="unmoved container-content">
            <div class="container-content-scroll">
              <div class="container-content-scroll-inner">
                <div :is="containers[item.i].view.name"></div>
              </div>
            </div>
          </div>
          <!--footer-->
          <div style=" border-top: 1px solid #546E7A;">
            <div style="height: 15px; margin-right: 20px;"></div>
          </div>
        </div>
      </grid-item>
    </grid-layout>
    {{db}}
    {{ll}}
    <div v-if="contour==''">
      <div style="position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px; background-color: white; opacity: 0.85;">
      </div>
      <div style="position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px; display: flex; flex-direction: column; justify-content: center; align-items: center">
        <span style="font-weight: 900">Выберите контур, нажав на кнопку <span class="el-icon-menu"></span> в левом верхнем углу</span>
      </div>
    </div>
  </div>
</template>

<script>
  import Vue from 'vue'
  import VueScrollbar from 'vue2-scrollbar'
  import assign from 'object-assign'

  import db from '../../db'
  import eve from '../../event'
  import sets from '../../sets'

  // views
  import VueGridLayout from 'vue-grid-layout'
  import order from './../order.vue'
  import order_list from './../order_list.vue'
  import control_panel from './../control_panel.vue'
  import users from './../users.vue'
  import xerox from './../xerox.vue'
  import semantic from './../semantic.vue'
  import request from './../request.vue'
  import phrases from './../phrases.vue'
  import texter from './../texter.vue'
  import text_stats from './../text_stats'
  import phrase_generator from './../phrase_generator.vue'

  let components = {
    GridLayout: VueGridLayout.GridLayout,
    GridItem: VueGridLayout.GridItem,
    VueScrollbar: VueScrollbar
  };
  let containers = {
    order:{
      title: 'Заявка',
      view: order
    },
    order_list:{
      title:'Список заявок',
      view: order_list
    },
    control_panel:{
      title: 'Панель управления',
      view: control_panel
    },
    users:{
      title: 'Пользователи',
      view: users
    },
    xerox:{
      title: 'Клонирование заявок',
      view: xerox
    },
    semantic:{
      title: 'seo',
      view: semantic
    },
    request:{
      title: 'запросы в БД',
      view: request
    },
    phrases:{
      title: 'запросы',
      view: phrases
    },
    texter:{
      title: 'обработка текста',
      view: texter
    },
    text_stats:{
      title: 'статистика по тексту',
      view: text_stats
    },
    phrase_generator:{
      title: 'генератор фраз',
      view: phrase_generator
    }
  }
  // определение компонентов форм
  for(let c_key in containers){
      let v = containers[c_key].view
      let start = 0;
      let imp_name = "";
      let part = "";
      let idx = v.name.indexOf('-', start);
      while(idx >= 0){
        part = v.name.substring(start, idx);
        imp_name += part[0].toUpperCase() +  part.substring(1);
        start += part.length + 1;
        idx = v.name.indexOf('-', start);
      }
      part = v.name.substring(start);
      imp_name += part[0].toUpperCase() +  part.substring(1);
      components[imp_name] = v;
  }

  //let lts_obj = null
  let lts_obj =  db.layout()||{}
  if(typeof(lts_obj)!=="object"){
    lts_obj = JSON.parse(lts_obj)
  }

  let lts = [];
  for(let key in lts_obj){
    lts.push(lts_obj[key]);
  }


  export default {
    name: 'layout',
    data: function() {
      return {
        contours: sets.contours,
        layouts: lts,
        layouts_obj: lts_obj,
        containers: containers,
        contour: db.contour()||'',
      }
    },
    computed:{
      ll(){
        db.layout(this.layouts_obj)// = JSON.stringify(this.layouts_obj);
        return ''
      },
      db(){
        db.contour(this.contour)
        if(this.contour){
          eve.v.main.contour(this.contour)
        }
      },
    },
    components: components,
    methods:{
      on_menu_checked(view, state){
        if(state){
            this.show(view)
        }
        else{
          this.hide(view)
        }

      },
      logout(){
        debugger
        let us = db.user()
        us.login = ''
        db.user(us.login, us.firstname, us.lastname, us.middlename, us.email)
        eve.app.logout()
      },
      // события layout
      on_resize: function(i, h, w, h_px, w_px){
        let l = this.layouts_obj[i]
        l.w = w;
        l.h = h;
      },
      on_move: function(i, x, y){
        let l = this.layouts_obj[i]
        l.x = x;
        l.y = y;
      },
      show: function(name){
        let v = {i: name, x: 0, y: 1, w:8, h: 21, holded: false, error: '', view:'main'};
        Vue.set(this.layouts_obj, name, v)
        this.layouts.push(v);
      },
      hide: function(name){
        for(let i = 0; i < this.layouts.length; i++){
          if(this.layouts[i].i === name){
            this.layouts.splice(i, 1);
            break;
          }
        }
        Vue.delete(this.layouts_obj, name);
      },


    },
    // hooks
    mounted(){},
    destroyed(){}
  }
</script>

<style scoped>
  .toolbar {
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background-color:#546E7A;
    color: white; top:0;
    left:0;
    width:100%;
    z-index: 6
  }
  .container{
    display:flex;
    flex-direction:column;
    justify-content: flex-start;
    align-items: stretch;
    height: 100%;
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
  }
  .container-header{
    background-color:#546E7A;
    color: white;
    padding: 0px 5px;
    border-radius: 3px 3px 0px 0px;
  }
  .container-content{
    flex-grow: 1;
    flex-basis: 0px;
    overflow: hidden
  }
  .container-content-scroll{
    position: relative;
    padding: 0px;
    width: 100%;
    height: 100%;
  }
  .container-content-scroll-inner{
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: -17px;
    right: -17px;
    overflow: scroll;
    padding: 5px
  }

</style>

