<template xmlns:v-popover="http://www.w3.org/1999/xhtml">
  <div>
    <el-popover
      ref="upd_cash"
      v-model="sas_cash.upd.is_open"
      placement="bottom-start"
      trigger="click"
      width="200"
    >
      <el-select class="full" v-model="sas_cash.upd.value" clearable placeholder="режим стратегии">
        <el-option
          v-for="(v, k) in sas"
          :key="k"
          :label="v"
          :value="k">
        </el-option>
      </el-select>
      <div class="top_offset">
        <el-button type="primary" :disabled="sas_cash.upd.disable()" :loading="sas_cash.upd.is_wait" @click="sas_cash.upd.exe">сохранить</el-button>
        <el-button type="text" @click="sas_cash.upd.is_open=false">отмена</el-button>
      </div>
    </el-popover>
    <el-popover
      ref="upd_card"
      v-model="sas_card.upd.is_open"
      placement="bottom-start"
      trigger="click"
      width="200"
    >
      <el-select class="full" v-model="sas_card.upd.value" clearable placeholder="режим стратегии">
        <el-option
          v-for="(v, k) in sas"
          :key="k"
          :label="v"
          :value="k">
        </el-option>
      </el-select>
      <div class="top_offset">
        <el-button type="primary" :disabled="sas_card.upd.disable()" :loading="sas_card.upd.is_wait" @click="sas_card.upd.exe">сохранить</el-button>
        <el-button type="text" @click="sas_card.upd.is_open=false">отмена</el-button>
      </div>
    </el-popover>
    <el-popover
      ref="cmd_card_add"
      placement="bottom-start"
      trigger="click"
      width="250"
      v-model="card.add.is_open"
    >
      <el-input class="top_offset" placeholder="номер" v-model="card.add.number" clearable></el-input>
      <el-input class="top_offset" placeholder="3Card id (externalid)" v-model="card.add.external_id" clearable></el-input>
      <el-input class="top_offset" placeholder="3Card группа (add_number)" v-model="card.add.add_number" clearable></el-input>
      <el-select
        class="full top_offset"
        v-model="card.add.currency"
        clearable
        placeholder="валюта"
      >
        <el-option key="RUB" label="RUB" value="RUB"></el-option>
        <el-option key="USD" label="USD" value="USD"></el-option>
        <el-option key="EUR" label="EUR" value="EUR"></el-option>
      </el-select>
      <el-date-picker
        class="full top_offset"
        v-model="card.add.exp_date"
        type="date"
        format="dd.MM.yyyy"
        value-format="yyyy-MM-dd"
        placeholder="конец срока действия">
      </el-date-picker>
      <div class="top_offset">
        <el-button type="primary" :loading="card.add.is_wait" :disabled="card.add.disabled()" @click="card.add.exe()" >добавить</el-button>
        <el-button type="text" @click="card.add.cancel()">отмена</el-button>
      </div>
    </el-popover>
    <el-button type="text" :loading="load.is_wait" @click="load.exe()" icon="el-icon-refresh"></el-button>
    <table style="width: 100%">
      <tr>
        <td>БД</td><td align="right"><span :class="db.value">{{db.value}}</span></td>
      </tr>
      <tr v-for="v in services.list">
        <td>{{v.name}}</td>
        <td align="right">
          <el-switch
            :value="(v.state=='running' || v.state=='start pending')? true: false"
            :disabled="v.state!='running' && v.state!='stopped'"
            active-color="#66BB6A"
            inactive-color="#F56C6C"
            @change="(e)=>{on_toggle_service(e, v.name)}"
          >
          </el-switch>
        </td>
      </tr>
      <tr>
        <td>SAS кредиты</td>
        <td align="right"><span class="elabel" v-popover:upd_cash @click="sas_cash.upd.init" >{{sas[sas_cash.value]}}</span></td>
      </tr>
      <tr>
        <td>SAS карты</td>
        <td align="right"><span class="elabel" v-popover:upd_card @click="sas_card.upd.init" >{{sas[sas_card.value]}}</span></td>
      </tr>
    </table>
    <div class="top_offset"><span v-popover:cmd_card_add><span class="elabel" @click="card.add.init()">добавить моментальную карту</span></span></div>
    {{on_contour}}
  </div>
</template>

<script>
  import Vue from 'vue'
  import monitoring from '../provider/soz/monitoring'
  import proxy from '../provider/soz/proxy'
  import db from  '../db'
  import eve from '../event'

  let sub = null

  export default {
    name: 'control-panel',
    data() {
      return {
        contour: db.contour()||'',
        sas: {
          "0": "Стандарт",
          "1": "Запрошенное",
          "2": "Одобрение",
          "3": "Уточнение",
          "4": "Одобр с изм",
        } ,
        load:{
          is_wait: false,
          exe: async function () {
            return new Promise(async (resolve, reject)=>{
              try{
                if(this.contour.length > 0){
                  this.load.is_wait = true
                  this.services.list = {}
                  this.db.value = ''
                  this.sas_cash.value = ''
                  this.sas_card.value = ''
                  await this.services.load.exe()
                  await this.db.load.exe()
                  await this.sas_cash.load.exe()
                  await this.sas_card.load.exe()
                  this.load.is_wait = false
                }
                resolve()
              }
              catch (e){
                reject(e)
              }
            })
          }.bind(this)
        },
        services:{
          list:{},
          is_wait:false,
          load:{
            exe:function () {
              return new Promise(async(resolve, reject)=>{
                try{
                  this.services.is_wait = true
                  this.services.list = {}
                  let data = await monitoring.service.get(this.contour)
                  let obj = {}
                  data.result.forEach((i)=>{ obj[i.name] = i })
                  this.services.list = obj
                  this.services.is_wait = false
                  resolve()
                }
                catch(e){
                  reject(e)
                }
              })
            }.bind(this)
          }
        },
        db:{
          value:'',
          load:{
            exe: async function(){
              return new Promise(async(resolve, reject)=>{
                try{
                  this.db.value = ''
                  let data = await monitoring.db.check(this.contour)
                  this.db.value = data.result
                  resolve()
                }
                catch (e){ reject(e) }
              })
            }.bind(this)
          },
        },
        sas_cash:{
          value: '',
          load:{
            exe:function(){
              return new Promise(async(resolve, reject)=>{
                try
                {
                  this.sas_cash.value = ''
                  let data = await monitoring.db.sas(this.contour, 'TestApproveCash')
                  this.sas_cash.value = data.result
                  resolve()
                }
                catch(e){
                  reject(e)
                }
              })
            }.bind(this)
          },
          upd: {
            is_wait:false,
            is_open: false,
            value: '',
            init: function (){
              this.sas_cash.upd.is_open = true
              this.sas_cash.upd.value = this.sas_cash.value
            }.bind(this),
            disable: function () {
              return this.sas_cash.upd.value == this.sas_cash.value || this.sas_cash.upd.value == ''
            }.bind(this),
            exe: async function(){
              this.sas_cash.upd.is_wait = true
              await monitoring.db.set_sas(this.contour, 'TestApproveCash', this.sas_cash.upd.value)
              this.sas_cash.value = this.sas_cash.upd.value
              this.sas_cash.upd.is_wait = false
              this.sas_cash.upd.is_open = false
            }.bind(this),
          }
        },
        sas_card:{
          value: '',
          load:{
            exe:function(){
              return new Promise(async(resolve, reject)=>{
                try
                {
                  this.sas_card.value = ''
                  let data = await monitoring.db.sas(this.contour, 'TestApproveCard')
                  this.sas_card.value = data.result
                  resolve()
                }
                catch(e){
                  reject(e)
                }
              })
            }.bind(this)
          },
          upd: {
            is_wait:false,
            is_open: false,
            value: '',
            init: function (){
              this.sas_card.upd.is_open = true
              this.sas_card.upd.value = this.sas_card.value
            }.bind(this),
            disable: function () {
              return this.sas_card.upd.value == this.sas_card.value || this.sas_card.upd.value == ''
            }.bind(this),
            exe: async function(){
              this.sas_card.upd.is_wait = true
              await monitoring.db.set_sas(this.contour, 'TestApproveCard', this.sas_card.upd.value)
              this.sas_card.value = this.sas_card.upd.value
              this.sas_card.upd.is_wait = false
              this.sas_card.upd.is_open = false
            }.bind(this),
          }
        },
        card:{
          add:{
            is_wait: false,
            is_open: false,
            add_number: '',
            currency: '',
            external_id: '',
            number: '',
            exp_date: '',
            init: function(){
              this.card.add.is_open = true
              this.card.add.add_number = ''
              this.card.add.currency = ''
              this.card.add.external_id = ''
              this.card.add.number = ''
              this.card.add.exp_date = ''
            }.bind(this),
            disabled: function(){
              return this.card.add.add_number == ''
                || this.card.add.currency == ''
                || this.card.add.external_id == ''
                || this.card.add.number == ''
                || this.card.add.exp_date == ''
            }.bind(this),
            exe: async function(){
              this.card.add.is_wait = true
              try{
                var r = await proxy.add_card(this.contour, this.card.add.number, this.card.add.add_number, this.card.add.currency, this.card.add.external_id, this.card.add.exp_date)
                this.card.add.cancel()
                eve.app.notify.success('Карта добавлена', `Идентификатор карты ${r.result}`)
              }
              catch (e){
                eve.app.notify.error(`Ошибка при добавлении карты`, e)
              }
              this.card.add.is_wait = false
            }.bind(this),
            cancel: function(){
              this.card.add.is_wait = false
              this.card.add.is_open = false
            }.bind(this),
          }
        }
      }
    },
    components: {},
    asyncComputed: {
      async on_contour(){
        let c = this.contour

        if(this.contour.length > 0){
          await this.load.exe()
        }
        return ''
      }
    },
    methods:{
      on_toggle_service: async function(value, name){
        if(value){
          this.services.list[name].state = 'start pending'
          await monitoring.service.start(this.contour, name)
          this.services.list[name].state = 'running'
        }
        else {
          this.services.list[name].state = 'stop pending'
          await monitoring.service.stop(this.contour, name)
          this.services.list[name].state = 'stopped'
        }
      },
      subscribe(){
        sub = monitoring.subscribe(this.contour, (m)=>{
          if(m.context == 'db'){
            if(m.name == 'state'){
               this.db.value = m.body.status
            }
            else if(m.name == 'sas_cash'){
               this.sas_cash.value = m.body.sas
            }
            else if(m.name == 'sas_card'){
              this.sas_card.value = m.body.sas
            }
          }
          else if(m.context == 'service'){
            this.services.list[m.body.name].state = m.body.state
          }
        })
      },
      unsubscribe(){
        monitoring.unsubscribe(sub)
      },
      on_contour_changed(e){ this.contour = e.name }
    },
    mounted(){
      eve.v.main.contour(this.on_contour_changed)
      this.subscribe()
    },
    destroyed(){
      eve.v.main.contour(this.on_contour_changed)
      this.unsubscribe()
    }
  }
</script>

<style scoped>
  .error{
    color: #F56C6C;
  }
  .online{
    color: #66BB6A
  }
  .offline{
    color: #F56C6C
  }
  .full{
    width: 100%;
  }
  .top_offset{
    margin-top: 5px;
  }
</style>
