<template xmlns:v-popover="http://www.w3.org/1999/xhtml">
  <div>
                                                                  <!-- Шапка -->
    <el-popover
      ref="upd_state"
      v-model="upd_state.is_open"
      placement="bottom-start"
      trigger="click"
      width="300"
    >
      <div>
        <el-select
          v-model="upd_state.state"
          filterable
          remote
          reserve-keyword
          clearable
          placeholder="Начните вводить название"
          :remote-method="(q)=>{upd_state.query = q}"
          class="full"
          >
          <el-option
            v-for="i in state_list"
            :key="i"
            :label="i"
            :value="i">
          </el-option>
        </el-select>
      </div>
      <div class="top_offset">
        <el-button type="primary" :loading="upd_state.is_wait" :disabled="upd_state.state.length==0" @click="upd_state.exe()">обновить</el-button>
        <el-button type="text" @click="upd_state.is_open=false">отмена</el-button>
      </div>
    </el-popover>
    <el-row type="flex" :gutter="5" justify="space-between" align="middle">
      <el-col :span="24" style="font-weight: 900; min-width: 150px">
          <el-button type="text" :disabled="load_order_id.length==0" :loading="attr.load.is_wait" @click="load.exe()" icon="el-icon-refresh"></el-button>
          <span :class="attr.list.INT5==2? 'in_error':''">#{{order_id}}</span>
      </el-col>
      <el-col :span="0.1" style="max-width: 200px">
        <el-input placeholder="12345678" v-model="find.order_id"></el-input>

      </el-col>
      <el-col :span="0.1"><el-button type="primary" :disabled="find.order_id.length==0" :loading="attr.load.is_wait" icon="el-icon-search" @click="find.exe()"></el-button></el-col>
    </el-row>
    <el-row>
      <!--Статус заявки-->
      <span style="font-weight: 600; display: inline-block; width: 50px">статус:</span><span class="elabel" v-popover:upd_state @click="upd_state.init()" >{{attr.list.STATE||'нет'}}</span>
    </el-row>

    <el-tabs v-model="tab">
                                                                          <!-- Заявка -->
      <el-popover
        ref="error_view"
        trigger="click"
        placement="bottom"
        width="300"
      >
        <div style="max-height: 200px; overflow: auto;">
          {{act_error? act_error.exception: 'нет данных'}}
        </div>
        <!--<div class="top_offset">-->
          <!--<el-button type="primary" :loading="error.fix.is_wait" :disabled="attr.list.INT5!=2" @click="error_fix" >сбросить ошибку</el-button>-->
          <!--<el-button type="text" @click="error.fix.is_open=false">отмена</el-button>-->
        <!--</div>-->
      </el-popover>
      <el-popover
        ref="upd_sas"
        v-model="upd_sas.is_open"
        placement="bottom-start"
        trigger="click"
        width="200"
      >
        <el-select class="full" v-model="upd_sas.value" clearable placeholder="режим стратегии">
          <el-option
            v-for="(v, k) in sas"
            :key="k"
            :label="v"
            :value="k">
          </el-option>
        </el-select>
        <div class="top_offset">
          <el-button type="primary" :disabled="upd_sas.disable()" :loading="upd_sas.is_wait" @click="upd_sas.exe()">сохранить</el-button>
          <el-button type="text" @click="upd_sas.is_open=false">отмена</el-button>
        </div>
      </el-popover>
      <el-popover
        ref="operation_view"
        v-model="operation.is_open"
        placement="bottom-start"
        trigger="click"
        width="250"
      >
        <div>
          <el-select class="full" v-model="operation.role" clearable placeholder="выберите роль">
            <el-option
              v-for="(v, k) in operation.list"
              :key="k"
              :label="k + ' ('+v.length+')'"
              :value="k">
            </el-option>
          </el-select>
          <div style="margin-top: 10px"></div>
          <div v-for="i in operation.list[operation.role]"> - {{i.name}} <span v-if="!i.is_optional" class="red">*</span></div>
        </div>
      </el-popover>
      <el-popover
        ref="attachment_view"
        placement="bottom-start"
        trigger="click"
        width="400"
      >
        <el-table
          :data="attachment.list"
          style="width: 100%"
          row-key="id"
          height="330"
          border="true"
        >
          <el-table-column type="expand">
            <template slot-scope="props">
              <div><span class="label_stage">тип:</span>{{attach_types[props.row.type]}}</div>
              <div><span class="label_stage">автор:</span>{{props.row.creator}}</div>
              <div><span class="label_stage">создан:</span>{{convert_date(props.row.date)}}</div>
              <div><span class="label_stage">файл:</span>{{props.row.name}}</div>
              <div><span class="label_stage">тип файла:</span>{{props.row.content_type}}</div>
              <div><span class="label_stage">размер:</span>{{props.row.size}} байт</div>
              <div><span class="label_stage">валиден:</span>{{props.row.is_valid?'да': 'нет'}}</div>
            </template>
          </el-table-column>
          <el-table-column
            label="название"
            show-overflow-tooltip
          >
            <template slot-scope="scope">
              {{ attach_types[scope.row.type] }}
            </template>
          </el-table-column>
          <el-table-column
            width="1"
          ></el-table-column>

        </el-table>
      </el-popover>
      <el-popover
        ref="attach_document"
        v-model="attachment.attach.is_open"
        placement="bottom-start"
        trigger="click"
        width="200"
      >
        <el-select
          class="full"
          v-model="attachment.attach.value"
          filterable
          remote
          reserve-keyword
          clearable
          placeholder="Начните вводить название документа"
          :remote-method="(q)=>{attachment.attach.query = q}"
        >
          <el-option
            v-for="(v, k) in attach_types_list"
            :key="k"
            :label="v"
            :value="k">
          </el-option>
        </el-select>
        <div class="top_offset">
          <el-button type="primary" :loading="attachment.attach.is_wait" :disabled="!attachment.attach.value" @click="attachment.attach.exe()" >прикрепить</el-button>
          <el-button type="text" @click="attachment.attach.is_open=false">отмена</el-button>
        </div>
      </el-popover>
      <el-popover
        ref="user_view"
        placement="bottom-start"
        trigger="click"
        width="200"
      >
        <div><span class="user_label">Фамилия:</span>{{user.data.lastname}}</div>
        <div><span class="user_label">Имя:</span>{{user.data.firstname}}</div>
        <div><span class="user_label">Отчество:</span>{{user.data.middlename}}</div>
        <div><span class="user_label">Login:</span>{{user.data.login}}</div>
        <div><span class="user_label">Роль:</span>{{user.data.role}}</div>
      </el-popover>
      <el-popover
        ref="cmd_fix_error"
        placement="bottom-start"
        trigger="click"
        width="200"
        v-model="fix_error.is_open"
      >
          <el-button type="primary" :loading="fix_error.is_wait" :disabled="fix_error.disabled()" @click="fix_error.exe()" >сбросить</el-button>
          <el-button type="text" @click="fix_error.cancel()">отмена</el-button>
      </el-popover>
      <el-popover
        ref="cmd_from_buffer"
        placement="bottom-start"
        trigger="click"
        width="200"
        v-model="from_buffer.is_open"
      >
        <el-button type="primary" :loading="from_buffer.is_wait" :disabled="from_buffer.disabled()" @click="from_buffer.exe()" >удалить</el-button>
        <el-button type="text" @click="from_buffer.cancel()">отмена</el-button>
      </el-popover>
      <el-tab-pane name="order" style="padding-bottom: 10px" label="заявка">
        <!--Сырые шапочные данные с шапки заявки-->
        <!-- user.lastname + ' ' + user.firstname + ' ' + user.middlename + ' [' + user.login + ']'-->
        <!--<div style="display: flex">-->
          <!--<el-tooltip :content="attr.list.STRING1" placement="top"><div class="c" >S1</div></el-tooltip>-->
          <!--<el-tooltip :content="attr.list.STRING2" placement="top"><div class="c" >S2</div></el-tooltip>-->
          <!--<el-tooltip :content="attr.list.STRING3" placement="top"><div class="c" >S3</div></el-tooltip>-->
          <!--<el-tooltip :content="attr.list.STRING4" placement="top"><div class="c" >S4</div></el-tooltip>-->
          <!--<el-tooltip :content="attr.list.STRING5" placement="top"><div class="c" >S5</div></el-tooltip>-->
          <!--<el-tooltip :content="attr.list.INT1" placement="top"><div class="c" >I1</div></el-tooltip>-->
          <!--<el-tooltip :content="attr.list.INT2" placement="top"><div class="c" >I2</div></el-tooltip>-->
          <!--<el-tooltip :content="attr.list.INT3" placement="top"><div class="c" >I3</div></el-tooltip>-->
          <!--<el-tooltip :content="attr.list.INT4" placement="top"><div class="c" >I4</div></el-tooltip>-->
          <!--<el-tooltip :content="attr.list.INT5" placement="top"><div class="c" >I5</div></el-tooltip>-->
          <!--<el-tooltip :content="attr.list.AMOUNT1" placement="top"><div class="c" >A1</div></el-tooltip>-->
          <!--<el-tooltip :content="attr.list.AMOUNT2" placement="top"><div class="c" >A2</div></el-tooltip>-->
          <!--<el-tooltip :content="attr.list.AMOUNT3" placement="top"><div class="c" >A3</div></el-tooltip>-->
          <!--<el-tooltip :content="attr.list.AMOUNT4" placement="top"><div class="c" >A4</div></el-tooltip>-->
          <!--<el-tooltip :content="attr.list.AMOUNT5" placement="top"><div class="c" >A5</div></el-tooltip>-->
        <!--</div>-->
        <div><span class="label top_offset">тип:</span><span style="font-weight: 700">{{attr.list.DOCUMENTTYPE}}</span> {{types[attr.list.DOCUMENTTYPE]}} </div>
        <div><span class="label">создана:</span>{{convert_date(this.attr.list.CREATIONDATE)||'---'}}</div>
        <div><span class="label">автор:</span><span class="elabel" v-popover:user_view>{{user.data.login}}</span></div>
        <div><span class="label">SAS:</span><span class="elabel" @click="upd_sas.init()" v-popover:upd_sas>{{sas_name||'---'}}</span></div>
        <div><span class="label" >действия:</span><span v-popover:operation_view @click="operation.open()" class="elabel">{{Object.keys(operation.list).length>0? 'ролей '+Object.keys(operation.list).length: 'нет'}}</span></div>
        <div><span class="label">документы:</span><span v-popover:attachment_view class="elabel">документов {{attachment.list.length>0?attachment.list.length: 'нет'}}</span></div>
        <div><span class="label">ошибка:</span><span class="elabel" v-popover:error_view >{{act_error? act_error.message:'нет'}}</span></div>
        <div style="margin-top: 20px"><span v-popover:attach_document class="elabel"  @click="attachment.attach.init()">прикрепить документ</span></div>

        <div><span v-popover:cmd_fix_error><span v-if="!fix_error.disabled()" class="elabel" @click="fix_error.init()">сбросить ошибку</span></span></div>
        <div><span v-popover:cmd_from_buffer><span v-if="!from_buffer.disabled()" class="elabel" @click="from_buffer.init()">удалить из буфера</span></span></div>
      </el-tab-pane>
                                                                          <!-- Атрибуты -->
      <el-tab-pane name="attributes" label="атрибуты">
        <!--Строка поиска-->
        <el-input
          v-model="attr.table.query"
          prefix-icon="el-icon-search"
          placeholder="Client_Firstname (без /root/)"
          clearable
        ></el-input>

        <!--операции-->
        <!-- добавление атрибута -->
        <el-popover
          ref="create_attr"
          width="200"
          v-model="attr.new.is_open"
          trigger="click"
          placement="bottom-start"
        >
          <el-input v-model="attr.new.path" placeholder="Client_Firstname (без /root/)" ></el-input>
          <el-input v-model="attr.new.value" placeholder="Торин" class="top_offset"></el-input>
          <div class="top_offset">
            <el-button type="primary" :loading="attr.new.is_wait" :disabled="attr.new.disabled()" @click="attr.new.exe()">сохранить</el-button>
            <el-button type="text" @click="attr.new.cancel()">отмена</el-button>
          </div>
        </el-popover>
        <el-button type="text" icon="el-icon-plus" v-popover:create_attr @click="attr.new.init()"></el-button>

        <!-- удаление атрибутов -->
        <el-popover
          width="200"
          ref="del_attr"
          v-model="attr.del.is_open"
          trigger="click"
          placement="bottom-start"
        >
          <el-button type="primary" :loading="attr.del.is_wait" @click="attr.del.exe()" >удалить</el-button>
          <el-button type="text" @click="attr.del.cancel()">отмена</el-button>
        </el-popover>
        <el-button
          :disabled="attr.del.disabled()"
          type="text"
          v-popover:del_attr
          @click="attr.del.init()"
          icon="el-icon-minus"
        ></el-button>

        <!-- редактирование атрибута -->
        <el-popover
          ref="upd_attr"
          width="200"
          v-model="attr.edit.is_open"
          trigger="click"
          placement="bottom-start"
        >
          <el-input
            v-model="attr.edit.value"
            placeholder="Торин"
            class="top_offset"
          ></el-input>
          <div class="top_offset">
            <el-button type="primary" :loading="attr.edit.is_wait" @click="attr.edit.exe()" >сохранить</el-button>
            <el-button type="text" @click="attr.edit.cancel()" >отмена</el-button>
          </div>
        </el-popover>
        <el-button
          :disabled="attr.edit.disabled()"
          type="text"
          icon="el-icon-edit"
          v-popover:upd_attr
          @click="attr.edit.init()"
        ></el-button>
        <!--Таблица с атрибутами-->
        <el-table
          ref="attributes_table"
          :data="attr_list"
          style="width: 100%"
          border="true"
          height="300"
          row-key="path"
          @selection-change="on_select">
          <el-table-column
            type="selection"
            width="55">
          </el-table-column>

          <el-table-column
            property="path"
            label="название"
            resizable
            show-overflow-tooltip
          >
          </el-table-column>
          <el-table-column
            property="value"
            label="значение"
            resizable
            show-overflow-tooltip
          >
          </el-table-column>
        </el-table>
        <!--пагинация-->
        <el-pagination
          :current-page.sync="attr.table.idx"
          :page-size="attr.table.limit"
          layout="total, prev, pager, next"
          :total="attr.table.total">
        </el-pagination>
      </el-tab-pane>
                                                                          <!-- Этапы -->
      <el-tab-pane name="stages" label="этапы">
        <el-popover
          ref="create_stage"
          width="200"
          v-model="stage.add.is_open"
          placement="bottom-start"
          trigger="click"
        >
          <el-input v-model="stage.add.name" placeholder="Название этапа" ></el-input>
          <el-input v-model="stage.add.result" placeholder="Результат" class="top_offset"></el-input>
          <el-input v-model="stage.add.performer" placeholder="Исполнитель" class="top_offset"></el-input>
          <div class="top_offset">
            <el-button
              type="primary"
              :loading="stage.add.is_wait"
              :disabled="stage.add.disabled()"
              @click="stage.add.exe()"
            >сохранить</el-button>
            <el-button
              type="text"
              @click="stage.add.cancel()"
            >отмена</el-button>
          </div>
        </el-popover>
        <el-button
          type="text"
          icon="el-icon-plus"
          @click="stage.add.init()"
          v-popover:create_stage
        ></el-button>
        <el-popover
          ref="del_stage"
          width="200"
          v-model="stage.del.is_open"
          trigger="click"
          placement="bottom-start"
        >
          <div class="top_offset">
            <el-button
              type="primary"
              :loading="stage.del.is_wait"
              @click="stage.del.exe()"
            >удалить</el-button>
            <el-button
              type="text"
              @click="stage.del.cancel()"
            >отмена</el-button>
          </div>
        </el-popover>
        <el-button
          type="text"
          icon="el-icon-minus"
          :disabled="stage.del.disabled()"
          @click="stage.del.init()"
          v-popover:del_stage
        ></el-button>
        <el-table
          :data="stage_list"
          style="width: 100%"
          row-key="id"
          height="330"
          border="true"
          @selection-change="on_stage_select"
        >
          <el-table-column type="expand">
            <template slot-scope="props">
              <div><span class="label_stage">Исполнитель:</span>{{props.row.performer}}</div>
              <div><span class="label_stage">Время:</span>{{props.row.date}}</div>
              <div><span class="label_stage">Атрибуты:</span></div>
              <div style="margin-left: 10px" v-for="(v, k) in props.row.attrs">
                {{k}} : {{v}}
              </div>
            </template>
          </el-table-column>
          <el-table-column
            type="selection"
            width="55">
          </el-table-column>
          <el-table-column
            label="название"
            prop="name"
            show-overflow-tooltip
          >
          </el-table-column>
          <el-table-column
            label="результат"
            prop="result"
            show-overflow-tooltip
          >
          </el-table-column>
          <el-table-column
            label="длительность"
            prop="offset"
            width="120"
          >
          </el-table-column>
        </el-table>
        <el-pagination
          :current-page.sync="stage.table.idx"
          :page-size="stage.table.limit"
          layout="total, prev, pager, next"
          :total="stage.table.total">
        </el-pagination>
      </el-tab-pane>
                                                                          <!-- Лог -->
      <el-tab-pane name="log" label="лог">
        {{soz_v_log}}
        <div>
          <el-button type="text" :disabled="order_id.length==0" :loading="log.load.is_wait" @click="log.load.exe()" icon="el-icon-refresh"></el-button>
        </div>
        <el-table
          :data="v_log"
          style="width: 100%"
          border="true"
          height="300"
          row-key="message"
          >
          <el-table-column type="expand">
            <template slot-scope="props">
              {{props.row.exception||'нет данных'}}
            </template>
          </el-table-column>
          <el-table-column
            property="level"
            label="#"
            width="30"
            resizable
            show-overflow-tooltip
          ></el-table-column>
          <el-table-column
            property="message"
            label="сообщение"
            resizable
            show-overflow-tooltip
          ></el-table-column>
          <el-table-column
            property="time"
            label="время"
            resizable
            show-overflow-tooltip
          ></el-table-column>

        </el-table>
      </el-tab-pane>
    </el-tabs>
    {{store}}
  </div>
</template>

<script>
  import Vue from 'vue'
  import proxy from '../provider/soz/proxy'
  import mx_proxy from '../provider/soz/mx_proxy'
  import tracker from '../provider/soz/tracker'
  import test_server from '../provider/test_server'
  import moment from 'moment'
  import assign from 'object-assign'
  import storage from '../db'
  import sets from '../sets'
  import eve from '../event'

  let header_attributes = sets.soz.order.header_attrs
  let h_stage = sets.soz.order.stage_header_attrs
  let db = storage.view.order

  export default {
    name: 'order',
    data() {
      return {
          sas: sets.soz.order.sas,
          types: sets.soz.order.types,
          attach_types: sets.soz.doc_types,
          tab: db.tab()||'order',
          contour: storage.contour(),
          order_id: '',//13014601
          load_order_id: db.order_id(),
          error:{
            content: {},
            fix:{
              is_wait: false,
              is_open: false,
            },
          },
          user:{
            is_open: false,
            data: {},
            load:{
              is_wait: true,
              exe: function(){
                return new Promise(async(resolve, reject)=>{
                  this.user.load.is_wait = true
                  try{
                    if(this.attr.list.CREATEDBY){
                      let data = await proxy.user.get(this.contour, 1, [this.attr.list.CREATEDBY])
                      if(data.result.length > 0){
                        this.user.data = data.result[0]
                      }
                    }
                  }
                  catch (e){
                    eve.app.notify.error('Ошибка загрузки автора заявки', e)
                  }
                  this.user.load.is_wait = false
                  resolve()
                })
              }.bind(this)
            },
          },
          find:{
            order_id: '',
            exe: async function(){
              this.load_order_id = this.find.order_id
              this.find.order_id = ''
            }.bind(this)
          },
          load:{
            is_wait: false,
            exe: function(){
              let s = this.load_order_id
              Vue.set(this, 'load_order_id', '')
              Vue.set(this, 'load_order_id', s)
            }.bind(this)
          },
          upd_state:{
            is_open: false,
            is_wait: false,
            state: '',
            query: '',
            init: function(){
              this.upd_state.is_open = true;
              this.upd_state.state = this.attr.list.STATE||''
            }.bind(this),
            exe: async function() {
              this.upd_state.is_wait = true
              await this.attr.save('STATE', this.upd_state.state)
              this.attr.list.STATE = this.upd_state.state
              this.upd_state.is_wait = false
              this.upd_state.is_open = false
            }.bind(this)
          },
          upd_sas: {
            value: '',
            is_wait: false,
            is_open: false,
            disable: function(){
                return this.upd_sas.value == this.attr.list.ForceDesicion
            }.bind(this),
            init: function(){
              this.upd_sas.is_open = true
              this.upd_sas.value = this.attr.list.ForceDesicion||''
            }.bind(this),
            exe: async function(){
              this.upd_sas.is_wait = true
              await this.attr.save('ForceDesicion', this.upd_sas.value)
              Vue.set(this.attr.list, 'ForceDesicion', this.upd_sas.value)
              this.upd_sas.is_wait = false
              this.upd_sas.is_open = false
            }.bind(this)
          },
          fix_error:{
            is_wait: false,
            is_open: false,
            init: function () {
              this.fix_error.is_open = true
            }.bind(this),
            disabled: function () {
              return this.attr.list.INT5 != 2
            }.bind(this),
            exe: async function(){
              this.fix_error.is_wait = true

              await this.attr.save('INT5', '0')
              this.attr.list.INT5 = '0'

              this.fix_error.is_wait = false
              this.fix_error.cancel()
            }.bind(this),
            cancel: function(){this.fix_error.is_open = false}.bind(this)
          },
          from_buffer:{
            is_open: false,
            is_wait: false,
            init: function () {
              this.from_buffer.is_open = true
            }.bind(this),
            disabled: function () {
              return this.attr.list.STATE != 'Идентификация клиента в MX(буфер)'
            }.bind(this),
            exe: async function(){
              this.from_buffer.is_wait = true
              try {
                  debugger
                await mx_proxy.client.delete_from_buffer(this.contour, this.order_id)
              }
              catch (e){
                  console.log(e)
                  debugger
              }
              debugger
              this.from_buffer.is_wait = false
              this.from_buffer.cancel()
            }.bind(this),
            cancel: function () {
              this.from_buffer.is_wait = false
              this.from_buffer.is_open = false
            }.bind(this)
          },
          // blocks

          attr:{
            list:{},
            selected:[],
            table:{
              query: db.query(),
              idx: 1,
              limit: 10,
              total: 0
            },
            // метод для сохранения значений атрибутов заявки
            save: function (path, value) { // util
              let req = { DOCUMENTID: this.order_id }
              req[path] = value
              return proxy.order.save_order(this.contour, req)
            }.bind(this),
            load:{
              is_wait: false,
              order_id: '',
              exe: async function(){
                return new Promise( async(resolve, reject)=>{
                  let order_id = this.load_order_id.trim()
                  if(this.contour.length > 0 && order_id.length > 0){
                    this.attr.load.is_wait = true
                    this.attr.list = {}
                    try{
                      let data = await proxy.order.orders(this.contour, null, null, null, 1, null, null, [order_id])
                      if(data.result.length > 0){
                        this.order_id = order_id
                        this.attr.list = data.result[0]
                        data = await proxy.order.attributes(this.contour, order_id)
                        this.attr.list = assign({}, this.attr.list, data.result)
                      }
                      else{
                        eve.app.notify.error('Ошибка загрузки заявки', `Заявки с номером ${this.load_order_id} не найдена`)
                        this.order_id = ''
                      }
                    }
                    catch (e){
                      eve.app.notify.error("Ошибка загрузки атрибутов заявки", e)
                    }
                    this.attr.load.is_wait = false
                    resolve()
                  }
                })
              }.bind(this),
            },
            new:{ // cmd
              path: '',
              value: '',
              is_open: false,
              is_wait: false,
              init: function(){
                this.attr.new.is_open = true
                this.attr.new.path = ''
                this.attr.new.value = ''
              }.bind(this),
              disabled: function(){ return this.attr.new.path.length == 0 }.bind(this),
              cancel: function(){ this.attr.new.is_open = false }.bind(this),
              exe: async function(){
                this.attr.new.is_wait = true
                let path = this.attr.new.path
                let value = this.attr.new.value
                let r = await this.attr.save(path, value)
                Vue.set(this.attr.list, path, value)
                this.attr.new.is_wait = false
                this.attr.new.is_open = false
              }.bind(this)
            },
            del:{
              is_open: false,
              is_wait: false,
              init: function () {
                this.attr.del.is_open = true
              }.bind(this),
              disabled: function () {
                return this.attr.selected.length == 0
              }.bind(this),
              cancel: function () {
                this.attr.del.is_open = false
              }.bind(this),
              exe: async function(){
                this.attr.del.is_wait = true
                let attrs = this.attr.selected.map((i)=>{ return i.path })
                await proxy.order.delete_attributes(this.contour, this.order_id, attrs)
                for(let i in attrs){
                  Vue.delete(this.attr.list, attrs[i])
                }
                this.attr.del.is_wait = false
                this.attr.del.cancel()
              }.bind(this)
            },
            edit:{
              value: '',
              is_open: false,
              is_wait: false,
              init: function () {
                if(this.attr.selected.length > 0){
                  this.attr.edit.value = this.attr.selected[0].value
                }
                this.attr.edit.is_open = true
              }.bind(this),
              disabled: function () {
                return this.attr.selected.length != 1
              }.bind(this),
              exe: async function() {
                let path = this.attr.selected[0].path
                let value = this.attr.edit.value
                this.attr.edit.is_wait = true
                let r = await this.attr.save(path, value)
                Vue.set(this.attr.list, path, value)
                this.attr.edit.is_wait = false
                this.attr.edit.cancel()
              }.bind(this),
              cancel: function () {
                this.attr.edit.is_open = false
              }.bind(this)
            },
          },
          operation:{
            is_open: false,
            role: '',
            list:{},
            open: function(){
              this.operation.is_open = true
              this.operation.role = ''
            }.bind(this),
            load:{
              is_wait: false,
              exe: async function(){
                return new Promise(async(resolve, reject)=>{
                  this.operation.load.is_wait = true
                  try {
                    let type = this.attr.list.DOCUMENTTYPE
                    let status = this.attr.list.STATE
                    let res = {}
                    this.operation.list = {}
                    if(type && status){
                      let data = await proxy.catalog.get_sub_operations(this.contour, type, status)
                      data.result.forEach((i)=>{
                        res[i.role] = i.operations
                      })
                    }
                    this.operation.list = res
                  }
                  catch (e){
                    eve.app.notify.error('Ошибка при загрузке доступных действий', e)
                  }
                  resolve()
                  this.operation.load.is_wait = false
                })
              }.bind(this)
            },
          },
          attachment:{
            is_open: false,
            list:[],
            load:{
              is_wait: false,
              exe: function(){
                return new Promise(async(resolve, reject)=>{
                  this.attachment.load.is_wait = true
                  try{
                    if(this.load_order_id.length > 0){
                      this.attachment.list = []
                      let data = await proxy.order.get_attachments(this.contour, this.load_order_id)
                      this.attachment.list = data.result
                    }
                  }
                  catch (e){
                    eve.app.notify.error('Ошибка загрузки документов', e)
                  }
                  resolve()
                  this.attachment.load.is_wait = false
                })
              }.bind(this)
            },
            attach:{
              is_open: false,
              is_wait: false,
              query: '',
              value: '',
              init: function(){
                this.attachment.attach.is_open = true
                this.attachment.attach.value = ''
              }.bind(this),
              exe: async function(){
                return new Promise(async(resolve, reject)=>{
                  try{
                    this.attachment.attach.is_wait = true
                    await proxy.order.attach_document(this.contour, this.order_id, this.attachment.attach.value)
                    await this.attachment.load.exe()
                    this.attachment.attach.is_wait = false
                    this.attachment.attach.is_open = false
                  }
                  catch (e){
                    reject(e)
                  }
                })
              }.bind(this)
            }
          },
          stage:{
            list:[],
            selected:[],
            table:{
              idx: null,
              limit: 10,
              total: 0
            },
            load:{
              order_id: '',
              is_wait: false,
              exe: function(){
                return new Promise( async(resolve, reject)=>{
                  this.stage.load.is_wait = true
                  try{
                    this.stage.list = []
                    if(this.load_order_id.length > 0){
                      let data = await proxy.order.stages(this.contour, null, this.load_order_id)
                      this.stage.list = data.result
                    }
                  }
                  catch (e){
                    eve.app.notify.error('Ошибка загрузки этапов заявки', e)
                  }
                  this.stage.load.is_wait = false
                  resolve()
                })
              }.bind(this)
            },
            add:{
              is_open: false,
              is_wait: false,
              name: '',
              result: '',
              performer: '',
              init: function () {
                this.stage.add.name = ''
                this.stage.add.result = ''
                this.stage.add.performer = ''
                this.stage.add.is_open = true
              }.bind(this),
              disabled: function () {
                return this.stage.add.name.length == 0
                  || this.stage.add.result.length == 0
                  || this.stage.add.performer.length == 0
              }.bind(this),
              cancel: function () {
                this.stage.add.is_open = false
              }.bind(this),
              exe: async function(){
                this.stage.add.is_wait = true
                let attrs = {}
                attrs['DOCUMENTID'] = this.order_id
                attrs["STAGENAME"] = this.stage.add.name
                attrs["STAGERESULT"] = this.stage.add.result
                attrs["PERFORMER"] = this.stage.add.performer
                await proxy.order.save_stage(this.contour, attrs)

                // загрузить этапы
                await this.stage.load.exe()
                this.stage.add.is_wait = false
                this.stage.add.cancel()
              }.bind(this)
              //
            },
            del:{
              is_open: false,
              is_wait: false,
              init: function () {
                this.stage.del.is_open = true
              }.bind(this),
              disabled: function () {
                return this.stage.selected.length == 0
              }.bind(this),
              exe: async function(){

                this.stage.del.is_wait = true
                let ids = this.stage.selected.map((i)=>{return i.id})
                await proxy.order.delete_stage(this.contour, ids)

                await this.stage.load.exe()
                this.stage.del.is_wait = false
                this.stage.del.cancel()

              }.bind(this),
              cancel: function(){ this.stage.del.is_open = false }.bind(this)
            }
          },
          log:{
            list: [],
            load:{
              is_wait: true,
              exe: async function(){
                  return new Promise(async(resolve, reject)=>{
                    this.log.load.is_wait = true
                    try {
                      this.log.list = []
                      if(this.load_order_id.length > 0){
                        let data = await proxy.v_log(this.contour, this.load_order_id)
                        this.log.list = data.result
                      }
                    }
                    catch (e){
                      eve.app.notify.error(`Ошибка загрузки лога заявки ${this.load_order_id}}`, e)
                    }
                    this.log.load.is_wait = false
                    resolve()
                  })
              }.bind(this)
            }
          }
        }
    },
    computed:{
      store(){
        db.tab(this.tab)
        db.order_id(this.order_id)
        db.query(this.attr.table.query)
        return ''
      },
      client_info(){
        if(this.attr.list.Client_FirstName){
            return `${this.attr.list.Client_LastName} ${this.attr.list.Client_FirstName} ${this.attr.list.Client_MiddleName}`
        }
        return ""
      },
      sas_name(){
        if(this.attr.list.ForceDesicion){
          return this.sas[this.attr.list.ForceDesicion]
        }
        return ''
      },
      attr_list(){
        let attrs = []
        let filter = this.attr.table.query
        filter = filter.toLowerCase()
        for(let path in this.attr.list){
          let add = true
          if(header_attributes.hasOwnProperty(path))
              add = false
          else if(filter.length > 0){
            let k = path.toLowerCase()
            let v = this.attr.list[path].toLowerCase()
            let path_exists = false
            let value_exists = false
            if(k.indexOf(filter) != -1){
              path_exists = true
            }
            if(v.indexOf(filter) != -1){
              value_exists = true
            }
            if(! path_exists && ! value_exists){
              add = false
            }
          }
          if(add)
            attrs.push({path: path, value: this.attr.list[path]})
        }

        this.attr.table.total = attrs.length

        let s_idx = (this.attr.table.idx - 1) * this.attr.table.limit
        if(attrs.length < s_idx)
          this.attr.table.idx = 1

        let e_idx = s_idx + this.attr.table.limit
        e_idx = (e_idx < (attrs.length - 1))? e_idx: attrs.length
        return attrs.slice(s_idx, e_idx)
      },
      stage_list(){
        if(this.stage.list.length ===0)
            return this.stage.list
        let list = []
        let p_time = null

        this.stage.list.forEach((i)=>{
          let date = moment(i.STAGEDATE, 'YYYY-MM-DDTHH:mm:ss:SSS')

          let attrs = {}
          for(let k in i){
              if(!h_stage.hasOwnProperty(k))
                attrs[k] = i[k]
          }

          // вычисление разницы дат создания
          let c = moment(i.STAGEDATE, 'YYYY-MM-DDTHH:mm:ss:SSS')
          let d = moment.duration(c.diff(date))
          if(p_time){
            d = moment.duration(c.diff(p_time))
          }
          let offset = d.format('HH:mm:ss', {trim: false})
          p_time = moment(i.STAGEDATE, 'YYYY-MM-DDTHH:mm:ss:SSS')

          list.push({
            id: i.STAGEID,
            name: i.STAGENAME,
            result: i.STAGERESULT,
            date: date.format('DD.MM.YYYY HH:mm:ss'),
            performer: i.PERFORMER,
            offset: offset,
            attrs: attrs,
          })
        })

        this.stage.table.total = list.length

        let pc = Math.floor(list.length / this.stage.table.limit) + 1
        if(this.stage.table.idx === null){
          this.stage.table.idx = pc
        }

        let s_idx = (this.stage.table.idx - 1) * this.stage.table.limit
        let e_idx = s_idx + this.stage.table.limit
        e_idx = (e_idx < (list.length - 1))? e_idx: list.length
        return list.slice(s_idx, e_idx)
      },
      state_list(){
        if(this.upd_state.query.length === 0)
          return []
        let q = this.upd_state.query.toLowerCase()
        let res = sets.soz.order.states.filter((i)=>{
          let v = i.toLowerCase()
          return v.indexOf(q) != -1
        })
        return res
      },
      attach_types_list(){
        let res = {}
        if(this.attachment.attach.query.length > 0){
          let q = this.attachment.attach.query.toLowerCase()
          for(let k in this.attach_types){
            let v = this.attach_types[k]
            if(v.toLowerCase().indexOf(q) != -1){
              res[k] = v
            }
          }
        }
        return res
      },
      v_log(){
        return this.log.list.map((i)=>{
          let o = assign({}, i)
          o.time = this.convert_date(i.time)
          return o
        })
      }
    },
    asyncComputed: {
      async act_error() {
        let res = null
        if(this.attr.list.INT5 == 2){
          let data = await proxy.v_log(this.contour, this.order_id, 'E')
          if(data.result.length > 0){
            res = data.result[data.result.length - 1]
          }
        }
        return res
      },
      // загрузить автора
      // загрузить этапы
      // загрузить документы
      async act_attrs(){
        let id = this.load_order_id
        await this.attr.load.exe()
        return ''
      },
      async act_log(){
        let id = this.load_order_id
        await this.log.load.exe()
        return ''
      },
      async act_stage(){
        let id = this.load_order_id
        await this.stage.load.exe()
        return ''
      },
      async act_user(){
        let id = this.load_order_id
        await this.user.load.exe()
        return ''
      },
      async act_operation(){
        let state = this.attr.list.STATE
        await await this.operation.load.exe()
        return ''
      },
      async act_attachment(){
        let id = this.load_order_id
        await this.attachment.load.exe()
        return ''
      },
    },
    methods:{
      // events
      on_select(selection){
        this.attr.selected = selection
      },
      on_stage_select(selection){
        this.stage.selected = selection
      },
      // utils
      convert_date(input){
        if(input === null || input === undefined || input.length == 0 )
          return null
        return moment(input, 'YYYY-MM-DDTHH:mm:ss:SSS')
          .format('DD.MM.YYYY HH:mm:ss')
      },
      on_selected(e){

        if(e.id != this.order_id){
          this.load_order_id = e.id
          //this.find.exe()
        }
      },
      on_contour_changed(e){
        this.contour = e.name
        if(e.name){
          this.load.exe()
        }
      },
      on_order_changed(e){
        if(this.order_id == e.order_id) {
          this.attr.list = assign(this.attr.list, e.state)
        }
      },
      async on_stage_changed(e){
        if(this.order_id == e.order_id){
          await this.stage.load.exe()
        }
      }
    },

    // hooks
    async mounted (){
      eve.v.main.contour(this.on_contour_changed)
      eve.v.order_list.selected(this.on_selected)
      eve.pvd.tracker.order_changed(this.on_order_changed)
      eve.pvd.tracker.stage_changed(this.on_stage_changed)
    },
    destroyed(){
      eve.v.main.contour(this.on_contour_changed, false)
      eve.v.order_list.selected(this.on_selected, false)
      eve.pvd.tracker.order_changed(this.on_order_changed, false)
      eve.pvd.tracker.order_changed(this.on_stage_changed, false)
    }
  }
</script>

<style scoped>
  .label{
    display: inline-block;
    width: 100px;
    font-weight: 600;
  }
  .user_label{
    display: inline-block;
    width: 70px;
    font-weight: 600;
  }
  .label_stage{
    display: inline-block;
    width: 100px;
    font-weight: 800;
  }
  .c{
    flex: 1 1 1px;
    border: 1px solid #b4bccc;
    margin: 1px;
    text-align: center
  }
  .full{
    width: 100%;
  }
  .top_offset{
    margin-top: 5px;
  }
  .in_error{
    color: #F56C6C
  }
  .red{
    color: #F56C6C
  }
</style>
