<template>
  <div>
                                            <!-- фильтр -->
    <el-popover
      ref="filter_view"
      placement="bottom-end"
      width="350"
      v-model="filter.is_open"
      trigger="click">
      <!--лимит-->
      <el-tooltip content="количество" placement="left">
        <el-select class="full" v-model="filter.limit" placeholder="количество">
          <el-option key="c_5" value="1" label="1"></el-option>
          <el-option key="c_5" value="5" label="5"></el-option>
          <el-option key="c_10" value="10" label="10"></el-option>
          <el-option key="c_30" value="30" label="30"></el-option>
          <el-option key="c_50" value="50" label="50"></el-option>
        </el-select>
      </el-tooltip>
      <!--тип заявки-->
      <el-tooltip class="top_offset" content="тип заявки" placement="left">
        <el-select class="full" v-model="filter.type" clearable placeholder="тип">
          <el-option key="13" value="13" :label="'[13] '+types['13']"></el-option>
          <el-option key="23" value="23" :label="'[23] '+types['23']"></el-option>
          <el-option key="26" value="26" :label="'[26] '+types['26']"></el-option>
          <el-option key="27" value="27" :label="'[27] '+types['27']"></el-option>
          <el-option key="35" value="35" :label="'[35] '+types['35']"></el-option>
        </el-select>
      </el-tooltip>
      <!--string 1-->
      <el-tooltip class="top_offset" content="string1" placement="left">
        <el-input placeholder="string1" clearable v-model="filter.string1"></el-input>
      </el-tooltip>
      <!--create by-->
      <el-tooltip class="top_offset" content="автор" placement="left">
        <el-input placeholder="crd_peperidze" clearable v-model="filter.create_by"></el-input>
      </el-tooltip>
      <!--статус-->
      <!--<el-tooltip class="top_offset" content="статус" placement="left">-->
        <!--<el-input placeholder="статус" clearable v-model="filter.state"></el-input>-->
      <!--</el-tooltip>-->

      <el-select
        v-model="filter.state"
        filterable
        remote
        reserve-keyword
        clearable
        placeholder="статус [начните вводить название]"
        :remote-method="(q)=>{filter.state_query = q}"
        class="full top_offset"
      >
        <el-option
          v-for="i in state_list"
          :key="i"
          :label="i"
          :value="i">
        </el-option>
      </el-select>

      <!--дата создания-->
      <el-date-picker
        v-model="filter.date_range"
        type="daterange"
        align="right"
        unlink-panels
        range-separator="-"
        start-placeholder="c"
        end-placeholder="по"
        class="top_offset"
        format="dd.MM.yyyy"
        value-format="yyyy-MM-dd"
      >
        <!--  :picker-options="picker_options"-->
      </el-date-picker>
      <el-row type="flex" justify="space-between">
        <div :span="1">
          <el-button class="top_offset" type="primary" :loading="load.is_wait" @click="filter.exe()">выбрать</el-button>
          <el-button class="top_offset" type="text" @click="filter.cancel()">отмена</el-button>
        </div>
        <div :span="1"><el-button class="top_offset" type="text" @click="filter.clear()">очистить фильтр</el-button></div>
      </el-row>

    </el-popover>
    <el-row type="flex" justify="space-between">
      <el-button :span="1" type="text" :loading="load.is_wait" icon="el-icon-refresh" @click="load.exe()"></el-button>
      <el-button :span="1" type="text" v-popover:filter_view @click="filter.init()">фильтр</el-button>
    </el-row>
                                    <!--  список заявок  -->
    <el-table
      :data="orders"
      border="true"
      style="width: 100%">
      <el-table-column
        prop="DOCUMENTTYPE"
        label=""
        width="40"
        show-overflow-tooltip
      >
      </el-table-column>
      <el-table-column
        label="#"
        width="150">
        <template slot-scope="scope">
          <span :class="scope.row.INT5=='2'?'error': ''"><span class="elabel" @click="select_order(scope.row.DOCUMENTID)">{{ scope.row.DOCUMENTID }}</span></span>
        </template>
      </el-table-column>
      <el-table-column
        prop="STATE"
        label="статус"
        resizable
        show-overflow-tooltip
      >
      </el-table-column>
      <el-table-column
        prop="STRING1"
        label="string1"
        resizable
        show-overflow-tooltip
      >
      </el-table-column>

    </el-table>
    {{db}}
  </div>
</template>

<script>
  import Vue from 'vue'
  import proxy from '../provider/soz/proxy'
  import eve from '../event'
  import storage from '../db'
  import sets from '../sets'
  import repeat from '../util/repeat'
  import moment from 'moment'

  let db = storage.view.order_list;
  let cancel_repeater = null;
  export default {
    name: 'order-list',
    data() {
        return {
          orders:[],
          types: sets.soz.order.types,
          contour: storage.contour(),
//          picker_options:{
//            shortcuts: [{
//              text: 'сегодня',
//              onClick(picker) {
//                const now = new Date();
//                let d = new Date(now.getFullYear(), now.getMonth(), now.getDate());
//                picker.$emit('pick', [d, d]);
//              }
//            }, {
//              text: 'вчера',
//              onClick(picker) {
//                const now = new Date();
//                let d = new Date(now.getFullYear(), now.getMonth(), now.getDate() - 1);
//                picker.$emit('pick', [d, d]);
//              }
//            }]
//          },
          load:{
            is_wait: false,
            limit: db.limit()||5,
            type: db.type()||'',
            string1: db.string1()||'',
            create_by: db.create_by()||'',
            state: db.state()||'',
            from: db.from()||'',
            to: db.to()||'',
            init: function () {}.bind(this),
            exe: function () {
              return new Promise( async(resolve)=>{
                try{
                  if(this.contour.length){
                    this.load.is_wait = true

                    let cb = null
                    if(this.load.create_by){
                      cb = [this.load.create_by]
                    }
                    let data = await proxy.order.orders(
                      this.contour,
                      this.load.type,
                      this.load.string1,
                      this.load.state,
                      this.load.limit,
                      null,
                      cb,
                      null,
                      this.load.from,
                      this.load.to
                    )
                    this.orders = data.result
                    this.load.cancel()
                    resolve()
                  }
                }
                catch (e){
                  console.log(e);
                  resolve()
                }
              })
            }.bind(this),
            cancel: function () {
              this.load.is_wait = false
            }.bind(this)
          },
          filter:{ // команда фильтрации
            is_open: false,
            limit: '',
            type: '',
            string1: '',
            create_by: '',
            state: '',
            date_range: null,
            state_query: '',
            init: function () {
              this.filter.limit = this.load.limit
              this.filter.type = this.load.type
              this.filter.string1 = this.load.string1
              this.filter.create_by = this.load.create_by
              this.filter.state = this.load.state
              this.filter.date_range = null
              if(this.load.from != ''){
                this.filter.date_range = [this.load.from, this.load.to]
              }
              this.filter.is_open = true
            }.bind(this),
            exe: async function () {
              this.load.limit = this.filter.limit
              this.load.type =  this.filter.type
              this.load.string1 =  this.filter.string1
              this.load.create_by =  this.filter.create_by
              this.load.state =  this.filter.state
              // установка времени фильтрации
              if(this.filter.date_range){
                this.load.from = this.filter.date_range[0]
                this.load.to = this.filter.date_range[1]
              }
              else{
                this.load.from = ''
                this.load.to = ''
              }

              await this.load.exe()
              this.filter.cancel()
            }.bind(this),
            cancel: function () {
              this.filter.is_open = false
              this.load.cancel()
            }.bind(this),
            clear: function(){
              this.load.type = ''
              this.load.string1 = ''
              this.load.create_by = ''
              this.load.state = ''
              this.load.from = ''
              this.load.to = ''
              this.filter.init()
            }.bind(this)
          }
        }
    },
    components: {},
    computed:{
      db(){
        db.limit(this.load.limit)
        db.type(this.load.type)
        db.string1(this.load.string1)
        db.create_by(this.load.create_by)
        db.state(this.load.state)
        db.from(this.load.from)
        db.to(this.load.to)
      },
      state_list(){
        if(this.filter.state_query.length === 0)
          return []
        let q = this.filter.state_query.toLowerCase()
        let res = sets.soz.order.states.filter((i)=>{
          let v = i.toLowerCase()
          return v.indexOf(q) != -1
        })
        return res
      },
    },
    methods:{
      select_order(id){ eve.v.order_list.selected(id) },
      on_contour_changed(e){
        this.contour = e.name
        if(e.name){
          this.load.exe()
        }
      },
      async on_order_created(e){
        await this.load.exe()
      },
      on_order_changed(e){
        let f = this.orders.filter((i)=>{ return e.order_id == i.DOCUMENTID})
        if(f.length > 0){
          let o = f[0]
          for(let k in e.state){
            Vue.set(o, k , e.state[k])
          }
        }
      }
    },
    async mounted(){
      let t = this;
      cancel_repeater = repeat(15000, async function(){
        await t.load.exe()
      }, true)

      eve.v.main.contour(this.on_contour_changed)
      eve.pvd.tracker.order_created(this.on_order_created)
      eve.pvd.tracker.order_changed(this.on_order_changed)

    },
    destroyed(){
      //clearInterval(timer);
      cancel_repeater()
      eve.v.main.contour(this.on_contour_changed)
      eve.pvd.tracker.order_created(this.on_order_created)
      eve.pvd.tracker.order_changed(this.on_order_changed, false)
    }
  }
</script>

<style scoped>
  .error{
    color: #F56C6C;
  }
  .full{
    width: 100%;
  }
  .top_offset{
    margin-top: 5px;
  }
</style>
