<template xmlns:v-popover="http://www.w3.org/1999/xhtml">
  <div>

    <el-button type="primary" style="margin-top: 5px; margin-bottom: 5px" @click="generate">генерировать</el-button>
    <el-input
      :rows="10"
      placeholder="введите текст"
      v-model="text"
      >
    </el-input>

    <div style="margin-top: 10px"></div>
    <div v-for="v in v_vars">
      <span>{{v.key}}</span><el-input placeholder="введите текст" :value="v.value" @input="update_value(v.key, $event)">
    </el-input>
    </div>
    <el-table
      :data="phrases"
      fit="true"
      style="width: 100%;margin-top: 10px"
      height="300"
    >
      <el-table-column
        prop="phrase"
        label="фразы"
      >
      </el-table-column>
    </el-table>

  </div>
</template>

<script>
  import Vue from 'vue'
  import api from '../provider/api'
  import eve from './../event'
  import db from './../db'
  import assign from 'object-assign'

  export default {
    name: 'phrase_generator',
    data() {
      return {
        text: 'I @v1:ing @v2 ',
        vars:{
          '@v1:ing': 'w1',
          '@v2': 'w2'
        },
        phrases:[]
      }
    },
    watch:{
      'text': function(v){
        let vars = {}
        let res = v.match(/@\w+(:\w+)*/ig)
        res.forEach((i)=>{
          if(this.vars.hasOwnProperty(i)){
            vars[i] = this.vars[i]
          }
          else{
            vars[i] = ''
          }
        })
        this.vars = vars
      }
    },
    computed: {
      db(){
        return ''
      },
      v_vars(){
        let list = []
        for(let k in this.vars){
            list.push({key: k, value: this.vars[k]})
        }
        return list
      }
    },
    methods:{
      async generate(){
        this.phrases = []
        let re = /\s*,\s*/
        let vars = {}
        for(let k in this.vars){
          vars[k] = this.vars[k].split(re)
        }

        let res = await api.phrase_generate(this.text, vars)
        let phrases = []
        res.data.data.forEach((i)=>{
          phrases.push({phrase: i})
        })
        this.phrases = phrases
      },
      update_value(key, value){
        Vue.set(this.vars, key, value)
      }
    },
    async mounted(){
      //this.init()

      //let keys = Object.keys(this.lexemes)
      //this.details(keys)
    },
    destroyed(){}
  }
</script>

<style></style>
