<template xmlns:v-popover="http://www.w3.org/1999/xhtml">
  <div>
    <el-popover
      ref="theme_popup"
      v-model="theme.is_open"
      placement="bottom-start"
      trigger="click"
      width="300"
    >
      <div>
        <el-select
          v-model="theme.current"
          clearable
          placeholder="тема"
          class="full"
        >
          <el-option
            v-for="(v, k) in theme.map"
            :key="k"
            :label="v.name"
            :value="k">
          </el-option>
        </el-select>
      </div>
    </el-popover>
    <el-popover
      ref="tag_popup"
      v-model="tag.is_open"
      placement="bottom-start"
      trigger="click"
      width="300"
    >
      <div v-for="(v,k) in v_selected_tags">
        <el-checkbox :checked="v" @change="(e)=>{filter.on_checked(k, e)}">{{k}}</el-checkbox>
      </div>
    </el-popover>
    <span class="elabel" v-popover:theme_popup @click="theme.is_open=true">{{theme.map[theme.current]? theme.map[theme.current].name: 'тема'}}</span>
    <el-button type="text" icon="fas fa-tags" v-popover:tag_popup @click="tag.is_open=true"></el-button>
    <div style="overflow: auto; height: 200px">
      <el-tree
        style="height: 100%"
        :data="v_tree"
        :default-expanded-keys="tree.expanded"
        :default-checked-keys="tree.checked"
        node-key="id"
        :expand-on-click-node="false"
        :render-after-expand="false"
        @node-expand="tree.on_expanded"
        @node-collapse="tree.on_collapsed"
        show-checkbox
        @check-change="tree.check_changed"
      >
        <el-row type="flex" style="width:100%;" justify="space-between" align="middle" slot-scope="{ node, data }">
          <el-col :span="24" :class="data.type">{{ data.label }}</el-col>
          <el-col :span="0.1">{{data.score}}</el-col>
        </el-row>
      </el-tree>

    </div>
    <el-table
      :data="v_table"
      border="true"
      style="width: 100%"
      @selection-change="table.on_selected"
    >
      <el-table-column
        type="selection"
        width="55">
      </el-table-column>
      <el-table-column
        prop="phrase"
        label="фраза"
        resizable
        show-overflow-tooltip
      >
      </el-table-column>
      <el-table-column
        prop="score"
        label="оценка"
        resizable
        show-overflow-tooltip
      >
      </el-table-column>
    </el-table>
    <div>
      <el-tag
        :key="k"
        v-for="(v, k) in v_tags_in_set"
        closable
        :disable-transitions="false"
        @close="tag.close(k)"
      >
        {{k}}
      </el-tag>
      <el-input
        class="input-new-tag"
        v-if="tag.visible"
        v-model="tag.value"
        ref="tag_input"
        size="mini"
        @keyup.enter.native="tag.input_confirm"
        @blur="tag.input_confirm"
      >
      </el-input>
      <el-button v-else class="button-new-tag" type="text" size="small" @click="tag.show_tag_input">+ добавить</el-button>
    </div>
    <div>
      <el-tag
        :key="exclude"
        :disable-transitions="false"
      >
        <span @click="tag.add('exclude')">exclude</span>
      </el-tag>
      <el-tag
        :key="k"
        v-for="(v, k) in v_available_tags"
        :disable-transitions="false"
      >
        <span @click="tag.add(k)">{{k}}</span>
      </el-tag>
    </div>
    {{phrase.words}}
    {{db}}
  </div>

</template>

<script>
  import Vue from 'vue'
  import semantic from '../provider/semantic'
  import VueSplitter from 'vue-splitter-comp'
  import eve from './../event'
  import db from './../db'
  import assign from 'object-assign'

  export default {
    name: 'phrases',
    components: {
      VueSplitter
    },
    data() {
      return {
        filter:{
          is_open: false,
          selected: {},
          on_checked: function(tag, value){
            let map = {}
            for (let k in this.v_tags){
              map[k] = false
              if(this.filter.selected.hasOwnProperty(k)){
                map[k] = this.filter.selected[k]
              }
            }
            map[tag] = value

            this.filter.selected = map
          }.bind(this)
        },
        tree:{
          selected_nodes:[],
          expanded_nodes:[],

          expanded:[],
          checked:[],

          selected: {},
          check_changed: function(data, checked, indeterminate){
            data.phrases.forEach((it)=>{
              if(this.tree.selected.hasOwnProperty(it._id)){
                if(!checked){
                  Vue.delete(this.tree.selected, it._id)
                  let idx = this.tree.selected_nodes.indexOf(data.id)
                  this.tree.checked.splice(idx, 1)
                }
              }
              else{
                if(checked){
                  Vue.set(this.tree.selected, it._id, it)
                  this.tree.checked.push(data.id)
                }
              }
            })
          }.bind(this),
          on_expanded: function(a1, a2, a3,a4){
            this.tree.expanded.push(a1.id)
          }.bind(this),
          on_collapsed: function(a1, a2,a3,a4){
            let idx = this.tree.expanded.indexOf(a1.id)
            this.tree.expanded.splice(idx, 1)
          }.bind(this)
        },
        table:{
          selection: [],
          on_selected: function(set){
            this.table.selection = set
          }.bind(this)
        },
        tag:{
          add: function (tag) {
            for(let i in this.table.selection){
              let id = this.table.selection[i]._id
              let ph = this.phrase.map[id]
              if(!ph.tags) {
                ph.tags = []
              }
              ph.tags.push(tag)
              // сохранить на сервере
            }
          }.bind(this),
          close: function (tag) {
            for(let i in this.table.selection){
              let id = this.table.selection[i]._id
              let ph = this.phrase.map[id]
              if(ph.tags){
                var index = ph.tags.indexOf(tag)
                if (index !== -1){
                  ph.tags.splice(index, 1)
                }
              }
            }
          }.bind(this),
          visible: false,
          value: '',
          show_tag_input: function() {
            this.tag.visible = true;
            this.$nextTick(_ => {
              this.$refs.tag_input.$refs.input.focus();
            });
          }.bind(this),
          input_confirm: function() {
            if (this.tag.value) {
              this.tag.add(this.tag.value);
            }
            this.tag.visible = false;
            this.tag.value = '';
          }.bind(this)
        },
        theme:{
          current: db.view.phrases.theme(),
          map: {},
          is_open: false,
          load:{
            is_wait: false,
            exe: function(){
              return new Promise(async (ok)=>{
                this.theme.load.is_wait = true
                try{
                  let res = await this.$db.find({selector:{type: 'prj'}})
                  let map = {}
                  res.docs.forEach((i)=>{ map[i._id] = i })
                  this.theme.map = map
                }
                catch (e){
                    console.log(e)
                    debugger
                }
                ok()
                this.theme.is_wait = false
              })
            }.bind(this)
          }
        },
        phrase:{
          current: null,
          words:{},
          map:{},
          load:{
            exe: function(){
              return new Promise(async (ok)=>{
                try{
                  if(this.theme.current){
                    let res = await this.$db.find({selector:{prj_id: this.theme.current}})
                    let map = {}
                    res.docs.forEach((i)=>{
                      map[i._id] = i
                    })
                    this.phrase.map = map

                    res = await this.$db.query('my_index/by_name', {startkey: ['prj_1'], reduce: true, group: true})
                    map = {}
                    res.rows.forEach((it)=>{
                      map[it.key[1]] = it.value
                    })
                    this.phrase.words = map
                  }
                }
                catch (e){}
                ok()
              })
            }.bind(this)
          }
        }
      }
    },
    watch:{
      'theme.current': async function(){
          await this.phrase.load.exe()
      }
    },
    computed:{
      // каждый тег доступен в одном из
      v_tree(){ // group_tree

        let p = function (obj, prefix) {
            let arr = []
          for (let w in obj) {
            let io = obj[w]
            let score = io['__score']
            delete io['__score']
            let phrases = []

            if(io.hasOwnProperty('__phrases')){
              phrases = io['__phrases']
            }

            delete io['__phrases']
            let children = p(io, `${prefix}#${w}`)
//            phrases.forEach((n)=>{
//              children.unshift({id:n.id, type:'phrase', label: n.phrase, children:[], score: n.score})
//            })
            let id = `${prefix}#${w}`

            arr.push({id:id, type:'node', label: w, children, score, phrases: phrases})
          }
          return arr
        }
        let str = {}

        let selected_tags = Object.keys(this.v_selected_tags).filter((it)=>{
            return this.v_selected_tags[it]
        })
        //debugger
        for (let id in this.phrase.map) {
          let i = this.phrase.map[id]

          let ts = i.tags||[]
          let map = {}
          ts.forEach((it)=>{map[it] = ''})

          let is_comp = true
          selected_tags.forEach((t)=>{
            if(!map.hasOwnProperty(t))
              is_comp = false
          })
          if(!is_comp)
            continue

          let jo = str
          // раскладка слов в глубину объекта
          i.words.forEach((w)=>{
            let o = null
            if (jo.hasOwnProperty(w)) {
              o = jo[w]
            }
            else {
              o = {__score: 0}
              jo[w] = o
            }
            o.__score += i.score
            jo = o
          })
          // добавлен список фраз в самую глубокую ноду объекта
          if(jo.hasOwnProperty('__phrases')){
            jo['__phrases'].push(i)
          }
          else{
            jo['__phrases'] = [i]
          }
        }
        return p(str, '')
      },
      v_tree_selected(){

        return []
      },
      v_table(){
        let a = []
        for(let k in this.tree.selected){
          a.push(this.tree.selected[k])
        }
        return a
      },
      v_tags(){
        let tags = {}
        for(let id in this.phrase.map){
          let ph = this.phrase.map[id]
          let ts = ph.tags||[]
          ts.forEach((t)=>{
            tags[t] = t
          })
        }
        return tags
      },
      v_selected_tags(){
        let map = {}
        for (let k in this.v_tags){
          map[k] = false
          if(this.filter.selected.hasOwnProperty(k)){
            map[k] = this.filter.selected[k]
          }
        }
        return map
      },
      v_tags_in_set(){
        // прошел по всем выбранным объектам
        // собран общий набор тегов выбранных фраз
        if(this.table.selection.length == 0)
          return []

        let origin = {}
        let ts = this.table.selection[0].tags|| []
        ts.forEach((t)=>{
          origin[t] = t
        })
        for(let idx in this.table.selection){
          let comp = {}
          ts = this.table.selection[idx].tags||[]
          ts.forEach((it)=>{
            comp[it] = it
          })
          for(let k in origin){
            if(! comp.hasOwnProperty(k)){
              delete origin[k]
            }
          }
        }
        return origin
      },
      v_available_tags(){
        let tags =  assign({}, this.v_tags)
        for(let t in this.v_tags_in_set){
            delete tags[t]
        }
        return tags
      },
      db(){
        db.view.phrases.theme(this.theme.current)
        return ''
      }
    },
    methods:{
      width(){return 1},
      structure_prepare(){},
      async init(){
        return new Promise(async(ok)=>{
          await this.theme.load.exe()
          if(this.theme.current){
            await this.phrase.load.exe()
          }

          ok()
        })
      }
    },
    async mounted(){
      this.init()
    },
    destroyed(){}
  }
</script>

<style scoped>
  .el-tag + .el-tag {
    margin-left: 5px;
  }
  .button-new-tag {
    margin-left: 5px;
    height: 32px;
    line-height: 30px;
    padding-top: 0;
    padding-bottom: 0;
  }
  .input-new-tag {
    width: 90px;
    margin-left: 5px;
    vertical-align: bottom;
  }
</style>

<!--<style >-->
  <!--.full{-->
    <!--width: 100%;-->
  <!--}-->
  <!--.top_offset{-->
    <!--margin-top: 5px;-->
  <!--}-->
  <!--.custom-tree-node {-->
    <!--flex: 1;-->
    <!--display: flex;-->
    <!--align-items: center;-->
    <!--justify-content: space-between;-->
    <!--font-size: 14px;-->
    <!--padding-right: 8px;-->
  <!--}-->
  <!--.node{-->
    <!--font-weight: 700;-->
  <!--}-->
  <!--.phrase{-->
    <!--font-style: italic;-->
  <!--}-->
<!--</style>-->
