<template xmlns:v-popover="http://www.w3.org/1999/xhtml">
  <div>

    <el-row gutter="5" type="flex" align="middle">

      <el-col span="0.1">
        <el-select v-model="method">
          <el-option key="get" label="get" value="get"></el-option>
          <el-option key="put" label="put" value="put"></el-option>
          <el-option key="post" label="post" value="post"></el-option>
          <el-option key="delete" label="delete" value="delete"></el-option>
        </el-select>
      </el-col>
      <el-col><el-input placeholder="url" v-model="url" clearable></el-input></el-col>
      <el-col span="0.1"><el-button type="primary" :disabled="false" @click="exe()" icon="fas fa-cloud-download-alt"></el-button></el-col>
    </el-row>
    <el-row gutter="5" type="flex" align="middle">
      {{this.responce}}
    </el-row>
  </div>
</template>

<script>
  import Vue from 'vue'
  import semantic from '../provider/semantic'
  import VueSplitter from 'vue-splitter-comp'
  import eve from './../event'
  import http from './../http'

  export default {
    name: 'request',
    components: {
      VueSplitter
    },
    data() {
      return {
        method: 'get',
        url:'http://localhost:5984/demo/_all_docs',
        data:'',
        responce: '',
        exe: function(){
          return new Promise(async (resolve)=>{
            let data = await http.request(this.method, this.url, null)
            this.responce = data
            resolve()
          })
        }.bind(this)
      }
    },
    computed:{},
    methods:{},
    async mounted(){},
    destroyed(){}
  }
</script>

<style scoped>
  .full{
    width: 100%;
  }
  .top_offset{
    margin-top: 5px;
  }
  .custom-tree-node {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    padding-right: 8px;
  }
  .node{
    font-weight: 700;
  }
  .phrase{
    font-style: italic;
  }
</style>
