<template xmlns:v-popover="http://www.w3.org/1999/xhtml">
  <div>
    <!--@check-change="on_checked"-->
    <!--show-checkbox-->
    <el-popover
      ref="theme_value"
      v-model="theme.is_open"
      placement="bottom-start"
      trigger="click"
      width="300"
    >
      <div>
        <el-select
          v-model="theme.current"
          clearable
          placeholder="тема"
          class="full"
        >
          <el-option
            v-for="(v, k) in theme.list"
            :key="k"
            :label="v.name"
            :value="k">
          </el-option>
        </el-select>
      </div>
      <!--<div class="top_offset">-->
        <!--<el-button type="primary" :loading="upd_state.is_wait" :disabled="upd_state.state.length==0" @click="upd_state.exe()">обновить</el-button>-->
        <!--<el-button type="text" @click="upd_state.is_open=false">отмена</el-button>-->
      <!--</div>-->
    </el-popover>
    <span class="elabel" v-popover:theme_value @click="theme.is_open=true">тема</span>
    <el-tabs type="border-card">
      <el-tab-pane label="запросы">
        <el-row gutter="5" type="flex" align="middle">
          <el-col><el-input placeholder="запрос" v-model="request.query" clearable></el-input></el-col>
          <el-col span="0.1"><el-button type="primary" :disabled="request.retrieve.disabled()" icon="fas fa-cloud-download-alt"></el-button></el-col>
        </el-row>
        <el-row>
          <el-col span="0.1">
            <el-button type="text" icon="fas fa-trash-alt" :disabled="request.delete.disabled()" @click="request.delete.exe()"></el-button>
          </el-col>
        </el-row>
        <el-table
          :data="request.list"
          style="width: 100%; margin-top: 5px"
          border="true"
          height="300"
          row-key="id"
          @selection-change="request.on_selected">
          <el-table-column
            type="selection"
            width="55">
          </el-table-column>
          <el-table-column
            property="request"
            label="значение"
            resizable
            show-overflow-tooltip
          >
          </el-table-column>
        </el-table>

      </el-tab-pane>
      <el-tab-pane label="фразы">
        <el-switch v-model="filter.only_target"></el-switch>
        <div style="overflow: auto; height: 400px">
          <el-tree
            :data="word_tree"
            :default-expanded-keys="c_expanded"
            node-key="id"
            :expand-on-click-node="false"
            @node-expand="node_expand"
            @node-collapse="node_collapse"
          >
            <el-row type="flex" style="width:100%" justify="space-between" align="middle" slot-scope="{ node, data }">
              <el-col :span="24" :class="data.type">{{ data.label }} - {{data.score}}</el-col>
              <el-col :span="0.1">
                <el-button type="text" @click="phrase.set_target.exe(data)" icon="el-icon-circle-close"></el-button>
              </el-col>
            </el-row>
          </el-tree>
        </div>
      </el-tab-pane>
    </el-tabs>
  </div>
</template>

<script>
  import Vue from 'vue'
  import semantic from '../provider/semantic'
  import VueSplitter from 'vue-splitter-comp'
  import eve from './../event'

  export default {
    name: 'semantic',
    components: {
      VueSplitter
    },
    data() {
      return {
        expanded:{},
        group_type: 'word',
        theme_id: 4,
        theme:{
          current: null,
          is_open: false,
          list:{},
          load:{
            is_wait: false,
            exe: function(){
              return new Promise(async (resolve)=>{
                this.theme.load.is_wait = true
                try{
                  this.theme.list = {}
                  var data = await semantic.theme.get()
                  let res = {}
                  data.result.forEach((i)=>{
                    res[i.id] = i
                  })
                  this.theme.list = res
                }
                catch (e){
                  // TODO обработать ошибку
                  console.log(e)
                }
                resolve()
                this.phrase.is_wait = false
              })
            }.bind(this)
          }
        },
        request:{
          query: '',
          selected: [],
          list: [],

          on_selected: function(list){
              this.request.selected = list
          }.bind(this),

          load:{
            exe: function () {
              return new Promise(async()=>{
                let data = await semantic.request.get(this.theme_id)
                this.request.list = data.result
              })
            }.bind(this)
          },
          delete:{
            disabled: function () {
              return this.request.selected.length == 0
            }.bind(this),
            exe: async function(){
              let ids = this.request.selected.map((i)=>{return i.id})
              await semantic.request.delete(ids)
              this.request.selected.forEach((i)=>{
                let idx = this.request.list.indexOf(i)
                if(idx > -1){
                  this.request.list.splice(idx, 1)
                }
              })
            }.bind(this)
          },
          retrieve:{
            disabled: function () {
              return this.request.query.length == 0
            }.bind(this),
            exe:function(){
              // выбирает фразы из Yandex Wordstat
            }.bind(this)
          }
        },
        selection:{},
        filter:{
          only_target: true
        },
        phrase:{
          selection:[],
          list:{},
          load:{
            is_wait: false,
            exe: function(){
              return new Promise(async (resolve)=>{
                this.phrase.is_wait = true
                try{
                  this.phrase.list = {}
                  let data = await semantic.phrase.phrases(this.theme_id)
                  let res = {}
                  data.result.forEach((i)=>{res[i.id] = i})
                  this.phrase.list = res
                }
                catch (e){
                  // TODO обработать ошибку
                }
                resolve()
                this.phrase.is_wait = false
              })
            }.bind(this)
          },

          set_target:{
            exe: async function (node) {
              try {
                let ids = []
                if(node.type == 'phrase'){
                  ids.push(node.id)
                }
                else{
                  let stack = [node]
                  while(stack.length > 0){
                    let n =  stack.pop()
                    n.children.forEach((ch)=>{
                      if(ch.type == 'phrase'){
                        ids.push(ch.id)
                      }
                      else{
                        stack.push(ch)
                      }
                    })
                  }
                }
                if(ids.length> 0){
                  await semantic.phrase.set_target(ids, false)
                  ids.forEach((id)=>{
                    let o = this.phrase.list[id]
                    o.is_target = false
                  })
                }
              }
              catch (e){
                eve.app.notify.error('Ошибка при удалении', e)
              }
            }.bind(this)
          },

          target:{

            is_theme: null,
            is_wait: false,
            sel_disabled:function () {
              return this.phrase.selection.length == 0
            }.bind(this),
            disabled: function () {
              return this.phrase.target.is_theme === null
            }.bind(this),
            init:function () {
            }.bind(this),
            exe: async function () {
              return new Promise(async(resolve, reject)=>{
                this.phrase.target.is_wait = true
                try{
                  let ids = this.phrase.selection.map((i)=>{return i.id})
                  await semantic.phrase.set_target(ids, this.phrase.target.is_theme)
                  this.phrase.selection.forEach((i)=>{
                    let o = this.phrase.list[i.id]
                    o.is_target = this.phrase.target.is_theme
                  })
                  this.selection = {}
                  this.phrase.target.is_theme = null
                }
                catch (e){
                  console.log(e)
                }
                this.phrase.target.is_wait = false
                resolve()
              })

            }.bind(this)
          }
        }
      }
    },
    computed:{
      c_expanded(){
        let e = []
        for (let k in this.expanded){
            e.push(k)
        }
        return e
      },
      word_tree(){ // group_tree

        let p = function (obj, prefix) {
          let arr = []
          for (let w in obj) {
            let io = obj[w]
            let score = io['__score']
            delete io['__score']
            let phrases = []

            if(io.hasOwnProperty('__phrases')){
              phrases = io['__phrases']
            }

            delete io['__phrases']
            let children = p(io, `${prefix}#${w}`)
            phrases.forEach((n)=>{
              children.unshift({id:n.id, type:'phrase', label: n.phrase, children:[], score: n.score})
            })
            let id = `${prefix}#${w}`
            arr.push({id:id, type:'node', label: w, children, score})
          }
          return arr
        }
        let str = {}
        for (let id in this.phrase.list) {
          let i = this.phrase.list[id]
          if(this.filter.only_target && i.is_target === false){
             continue
          }
          let jo = str
          i.words.forEach((w)=>{
            let o = null
            if (jo.hasOwnProperty(w)) {
              o = jo[w]
            }
            else {
              o = {__score: 0}
              jo[w] = o
            }
            o.__score += i.score
            jo = o
          })
          if(jo.hasOwnProperty('__phrases')){
            jo['__phrases'].push(i)
          }
          else{
            jo['__phrases'] = [i]
          }
        }
        return p(str, '')
      },
      phrases(){
        let ps = []
        for(let k in this.selection){
          let ph = this.selection[k]
          ps.push(ph)
        }
        return ps
      },
      requests(){

        return []
      }
    },
    asyncComputed:{
      async acp_phrase(){
        let t = this.theme_id
        await this.phrase.load.exe()
        return ''
      }
    },
    methods:{
      renderContent(h, { node, data, store }) {
        return 'lala'
      },
      collect_phrases(arr){
        let ps = []
        arr.forEach((i)=>{
          i.phrases.forEach((p)=>{ps.push(p)})
          let ips = this.collect_phrases(i.children)
          ips.forEach((p)=>{ps.push(p)})
        })
        return ps
      },
      on_checked(data, checked, is_sub){
        if(checked){
          let ps = this.collect_phrases([data])
          ps.forEach((i)=>{
            if(!this.selection.hasOwnProperty(i.id)){
              Vue.set(this.selection, i.id, i)
            }
          })
        }
        else if(!is_sub){
          let ps = this.collect_phrases([data])
          ps.forEach((i)=>{Vue.delete(this.selection, i.id)})
        }
        // выполнить подсчет выбранных фраз
//        if(checked){
//          Vue.set(this.selection, data.id, '')
//        }
//        else {
//          Vue.delete(this.selection, data.id)
//        }
      },
      on_select(selection){
        this.phrase.selection = selection
      },
      node_expand(a1, a2, a3,a4){
        Vue.set(this.expanded, a1.id, '')
      },
      node_collapse(a1, a2,a3,a4){
        Vue.delete(this.expanded, a1.id)
      }
    },
    async mounted(){
      await this.theme.load.exe()
      await this.request.load.exe()
    },
    destroyed(){}
  }
</script>

<style scoped>
  .full{
    width: 100%;
  }
  .top_offset{
    margin-top: 5px;
  }
  .custom-tree-node {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    padding-right: 8px;
  }
  .node{
    font-weight: 700;
  }
  .phrase{
    font-style: italic;
  }
</style>
