<template xmlns:v-popover="http://www.w3.org/1999/xhtml">
  <div>

    <el-tabs v-model="active_tab" style="width: 100%" @tab-click="handleClick">
      <el-tab-pane label="текст" name="text">
        <div ref="editor" style="text-align: justify" v-html="text" @click="clicked"></div>
        <!--<br/>-->
        <!--<button @click="unknown" :disabled="selection.is_termed">unknown</button>-->
        <!--<button :disabled="!selection.is_termed" @click="remove">delete</button>-->
        <!--<button @click="translate">translate</button>-->
        <div>
          <b>{{selection.text}}</b>
        </div>
      </el-tab-pane>
      <el-tab-pane label="слова" name="words">
        <el-table
          ref="ttt"
          :data="words"
          fit="true"
          style="width: 100%">
          <el-table-column
            prop="idiom"
            label="слово"
            width="180">
          </el-table-column>
          <el-table-column
            label="перевод"
          >
            <template slot-scope="scope">
              <el-popover
                placement="bottom"
                title="выберите перевод"
                width="200"
                trigger="focus"
                v-model="lexemes[scope.row.idiom].vis"
                >
                <div v-for="tr in scope.row.translates" @click="select_translate(scope.row.idiom, tr.text)">{{tr.text}} {{tr.pos}}</div>
                <el-button type="text" @click="lexemes[scope.row.idiom].vis = false">закрыть</el-button>
                <el-input
                  slot="reference"
                  placeholder="перевеод"
                  @change="(v)=>{translate_changed(scope.row.idiom, v)}"
                  :value = scope.row.tr
                >
                </el-input>
              </el-popover>
            </template>
          </el-table-column>

          <el-table-column
            label="тран"
          >
            <template slot-scope="scope">
              <div>[{{scope.row.transcription}}] [{{scope.row.self_transcription}}]</div>
            </template>
          </el-table-column>
          <el-table-column
            label="образ"
          >
            <template slot-scope="scope">
              <el-popover
                placement="bottom"
                title="созвучные слова"
                width="200"
                trigger="focus"
                v-model="lexemes[scope.row.idiom].img_vis"
              >
                <div v-for="c in scope.row.consonants">{{c}}</div>
                <el-button type="text" @click="lexemes[scope.row.idiom].img_vis = false">закрыть</el-button>
                <el-input
                  slot="reference"
                  placeholder="..."
                  @change="(v)=>{translate_changed(scope.row.word, v)}"
                  :value = scope.row.img
                >
                </el-input>
              </el-popover>
            </template>
          </el-table-column>
        </el-table>

        <el-button @click="update">update</el-button>

      </el-tab-pane>
    </el-tabs>
  </div>
</template>

<script>
  import Vue from 'vue'
  import api from '../provider/api'
  import eve from './../event'
  import db from './../db'
  import assign from 'object-assign'

  export default {
    name: 'texter',
    data() {
      return {
        active_tab: 'words',
        vis:{
          'will': true,
          'if': true,
          'cloned': false
        },
        lexemes:{
          'cloned': {idiom: 'cloned', translates:[], consonants:[], transcription: '', self_transcription: '', vis: false, img_vis: false, tr: '', img: ''}
        },
        translates:[],
        selection:{
          is_termed: true,
          text: ''
        },
        text: 'An <b>exception</b> will be <b>thrown</b>, however, if the range splits a <i>non-Text</i> node with <span>only one</span> of its boundary points. That is, unlike the alternative above, if there are partially selected nodes, they will not be cloned and instead the operation will fail.',
        txt_nodes: {},
      }
    },
    watch:{
      'text': function(){
        this.retrieve_text_nodes()
      }
    },
    computed:{
      db(){
        db.view.phrases.theme(this.theme.current)
        return ''
      },
      words(){
        let ws = []
        for(let k in this.lexemes){
          let obj = this.lexemes[k]
          ws.push(obj)
        }
        return ws
      }
    },
    methods:{
      retrieve_text_nodes(){
        let list = []
        let stack = [this.$refs.editor]

        while(stack.length > 0){
          let n = stack.pop()
          if(n.nodeName == '#text' && n.textContent.length > 0){
            list.unshift(n)
          }
          else{
            n.childNodes.forEach((i)=>{
              stack.push(i)
            })
          }
        }
        let map = {}
        let id = 0
        let idx = 0
        list.forEach((n)=>{
          n.uid = id
          n.text_idx = idx
          idx += n.textContent.length
          map[id] = n
          id++
        })
        return map
      },
      get_lexeme_by_idx(txt, start_idx, end_idx){
          if(end_idx == undefined){
              end_idx = start_idx
          }

          let str = ' .,!?'
          while(start_idx != 0 && str.indexOf(txt[start_idx - 1]) == -1){
            start_idx--
          }

          while(end_idx < txt.length && str.indexOf(txt[end_idx + 1]) == -1){
              end_idx++
          }

          return txt.substring(start_idx, end_idx + 1)
      },


      unknown(){
        this.lexemes[this.selection.text] = 'uk'
        this.init()
      },
      select_translate(idiom, value){
        Vue.set(this.lexemes[idiom], 'tr', value)
        Vue.set(this.lexemes[idiom], 'vis', false)
      },
//      translate_changed(k, v){
//        Vue.set(this.lexemes[k], 'tr', v)
//      },
      async details(idioms){
        try {
          let res = await api.details(idioms)
          let data = res.data.data
          let t = this
          data.forEach((i)=>{
            let obj = assign({vis: false, img_vis: false, tr: '', img: ''}, i)
            if(i.translates.length > 0){
                obj.tr = i.translates[0].text
            }
            Vue.set(t.lexemes, i.idiom, obj)
          })
          this.init()
        }
        catch (e){}
      },
      async get_cosounds(word){
        let res = await api.cosound(word)
        let d = res.data
      },
      update(){
        Vue.set(this.lexemes, 'lala', '')
        Vue.delete(this.lexemes, 'lala')
      },
      clicked(){
        let clear_text = this.$refs.editor.innerText.toLowerCase()
        let s = window.getSelection()

        let term = this.get_term(s.anchorNode)
        if(term == null){
          let r = s.getRangeAt(0)
          let nodes = this.retrieve_text_nodes()
          let node = nodes[s.anchorNode.uid]
          let start_idx = node.text_idx + s.anchorOffset
          let end_idx = start_idx + r.toString().length
          this.selection.text = this.get_lexeme_by_idx(clear_text, start_idx, end_idx - 1)
          this.details([this.selection.text])
        }
        else{
          Vue.delete(this.lexemes, term.innerText) //this.lexemes[term.innerText]
          this.selection.text = ''// term.innerText
          this.init()
        }
      },
      get_term(el){
          let parent = el.parentNode
          while(parent !== this.$refs.editor && parent != null){
              // TODO придумать надежней признак
             if(parent.className === 'unknown'){
               return parent
             }
             parent = parent.parentNode
          }
          return null
      },
      init(){
        this.$refs.editor.innerHTML = this.text
        let clear_text = this.$refs.editor.innerText.toLowerCase()
        let txt_nodes = this.retrieve_text_nodes()
        let rgs = []
        for(let txt in this.lexemes){
          let str_idx = clear_text.indexOf(txt)
          while (str_idx >= 0){
            let lex = this.get_lexeme_by_idx(clear_text, str_idx, str_idx + txt.length - 1)
            if(lex === txt){
              let end_idx = str_idx + lex.length
              let start_node = null
              let end_node = null
              for(let k in txt_nodes){
                let n = txt_nodes[k]
                if(str_idx >= n.text_idx && str_idx < n.text_idx + n.textContent.length)
                  start_node = n
                if(end_idx >= n.text_idx && end_idx < n.text_idx + n.textContent.length)
                  end_node = n
                if(start_node != null && end_node != null)
                  break
              }
              if(start_node != null && end_node != null){
                let rng = document.createRange();
                let start_offset = str_idx - start_node.text_idx
                let end_offset = end_idx - end_node.text_idx
                rng.setStart(start_node, start_offset)
                rng.setEnd(end_node, end_offset)
                rgs.push(rng)
              }
            }
            str_idx = clear_text.indexOf(txt, str_idx + txt.length)
          }
        }
        rgs.forEach((r)=>{
          let newNode = document.createElement("u");
          newNode.appendChild(r.extractContents())
          newNode.classList.toggle('unknown')
          r.insertNode(newNode)
        })
        txt_nodes = this.retrieve_text_nodes()
      }
    },
    async mounted(){
      this.init()

      let keys = Object.keys(this.lexemes)
      this.details(keys)
    },
    destroyed(){}
  }
</script>

<style>
  .unknown {
    color: #D84315;
    font-weight: bold;
  }
  .unsure {
    color: #2E7D32;
    font-weight: bold;
  }
</style>

<!--<style >-->
  <!--.full{-->
    <!--width: 100%;-->
  <!--}-->
  <!--.top_offset{-->
    <!--margin-top: 5px;-->
  <!--}-->
  <!--.custom-tree-node {-->
    <!--flex: 1;-->
    <!--display: flex;-->
    <!--align-items: center;-->
    <!--justify-content: space-between;-->
    <!--font-size: 14px;-->
    <!--padding-right: 8px;-->
  <!--}-->
  <!--.node{-->
    <!--font-weight: 700;-->
  <!--}-->
  <!--.phrase{-->
    <!--font-style: italic;-->
  <!--}-->
<!--</style>-->
