<template xmlns:v-popover="http://www.w3.org/1999/xhtml">
  <div>

    <el-input
      type="textarea"
      :rows="10"
      placeholder="введите текст"
      v-model="text">
    </el-input>
    <el-button type="primary" style="margin-top: 5px; margin-bottom: 5px" @click="calculate">подсчитать</el-button>
    <el-table
      ref="ttt"
      :data="words"
      fit="true"
      style="width: 100%"
      height="400"
    >
      <el-table-column
        prop="idiom"
        label="слово"
        >
      </el-table-column>
      <el-table-column
        prop="count"
        label="#"
        width="180">
      </el-table-column>
    </el-table>
    <b>общее количество слов:</b> {{count}}
  </div>
</template>

<script>
  import Vue from 'vue'
  import api from '../provider/api'
  import eve from './../event'
  import db from './../db'
  import assign from 'object-assign'

  export default {
    name: 'text_stats',
    data() {
      return {
        text: '',
        count: 0,
        words: []
      }
    },
    computed: {
      db(){
        return ''
      },
    },
    methods:{
      async calculate(){
        this.words = []
        this.count = 0
        let res = await api.text_stats(this.text)
        this.words = res.data.data
        this.count = res.data.count
      }
    },
    async mounted(){
      //this.init()

      //let keys = Object.keys(this.lexemes)
      //this.details(keys)
    },
    destroyed(){}
  }
</script>

<style></style>
