<template xmlns:v-popover="http://www.w3.org/1999/xhtml">
  <div>
    <el-popover
      ref="view_add"
      width="200"
      v-model="add.is_open"
      trigger="click"
      placement="bottom-start"
    >
      <el-select class="full" v-model="add.role">
        <el-option v-for="(v, k) in roles" :key="k" :value="k" :label="k"></el-option>
      </el-select>
      <el-input v-model="add.login" placeholder="login" class="top_offset" ></el-input>
      <el-input v-model="add.fn" placeholder="Торин" class="top_offset"></el-input>
      <el-input v-model="add.ln" placeholder="Торин" class="top_offset" ></el-input>
      <el-input v-model="add.mn" placeholder="Торин" class="top_offset" ></el-input>
      <el-input v-model="add.desc" placeholder="кл. слово" class="top_offset"></el-input>

      <div class="top_offset">
        <el-button type="primary" :disabled="add.disabled()" :loading="add.is_wait" @click="add.exe()" >{{add.id?'обновить': 'добавить'}}</el-button>
        <el-button type="text" @click="add.cancel()" >отмена</el-button>
      </div>
    </el-popover>

    <el-button type="text" :loading="add.is_wait" icon="el-icon-plus" v-popover:view_add @click="add.init()"></el-button>
    <el-row :gutter="10" justify="start" >
      <el-col>
        <el-switch v-model="only_my" @change="on_only_my_changed" active-text="только мои"></el-switch>
      </el-col>
    </el-row>
    <el-row v-if="!only_my" type="flex" class="top_offset" :gutter="5" justify="space-between" align="middle">
      <el-col :span="0.1" style="min-width: 80px; width: 80px;">
        <el-tooltip content="Лимит" placement="left">
          <el-select  placeholder="..." v-model="limit">
            <el-option :key="1" :value="1" :label="1"></el-option>
            <el-option :key="5" :value="5" :label="5"></el-option>
            <el-option :key="10" :value="10" :label="10"></el-option>
            <el-option :key="20" :value="20" :label="20"></el-option>
          </el-select>
        </el-tooltip>
      </el-col>
      <el-col :span="24" style="">
        <el-input v-model="query" placeholder="поиск по id, ФИО, роли и логину" clearable></el-input>
      </el-col>
      <el-col :span="0.1">
        <el-button type="primary" :disabled="load.disabled()" :loading="load.is_wait" icon="el-icon-search" @click="load.exe()"></el-button>
      </el-col>
    </el-row>
    <!-- кнопка добавление -->
    <el-table
      :data="load.list"
      style="width: 100%"
      class="top_offset"
      row-key="login"
      height="330"
      border="true"
    >
      <el-table-column type="expand">
        <template slot-scope="props">
          <div><span class="label">login:</span>{{props.row.login}}</div>
          <div><span class="label">статус:</span>{{props.row.status}}</div>
          <div><span class="label">Фамилия:</span>{{props.row.lastname}}</div>
          <div><span class="label">Имя:</span>{{props.row.firstname}}</div>
          <div><span class="label">Отчество:</span>{{props.row.middlename}}</div>
          <div><span class="label">Роль:</span>{{props.row.role}}</div>
          <div><span class="label">Кл. слово:</span>{{props.row.description}}</div>
          <div><span class="label">Должность:</span>{{props.row.position}}</div>
          <div><span class="label">Канал продаж:</span>{{props.row.channel}}</div>
          <div><span class="label">Филиал:</span>{{props.row.filial}}</div>
          <div><span class="label">Дата создания:</span>{{convert_date(props.row.creation_date)}}</div>
          <div><span class="label">ID:</span>{{props.row.id}}</div>
          <div><span class="label">External ID:</span>{{props.row.external_id}}</div>
        </template>
      </el-table-column>
      <el-table-column
        label="логин">
        <template slot-scope="scope">
          <span :class="scope.row.id||'error'">{{ scope.row.login }}</span>
        </template>
      </el-table-column>
      <el-table-column
        property="role"
        label="роль"
        resizable
        show-overflow-tooltip
      ></el-table-column>
    </el-table>
    {{db}}
  </div>
</template>

<script>
  import Vue from 'vue'
  import moment from 'moment'
  import monitoring from '../provider/soz/monitoring'
  import setting from '../provider/common/setting'
  import proxy from '../provider/soz/proxy'
  import db from  '../db'
  import eve from '../event'
  import sets from '../sets'

  let user = db.user()

  let om = db.view.soz_users.only_my()
  if(om == null){
      om = true
  }

  export default {
    name: 'users',
    data() {
      return {
        contour: db.contour()||'',
        query: db.view.soz_users.query()||'',
        limit: db.view.soz_users.limit()|| 5,
        only_my: om,
        roles:  sets.soz.roles,
        user:{
          login: user.login,
          firstname: user.firstname,
          lastname: user.lastname,
          middlename: user.middlename,
          email: user.email
        },
        load:{
          is_wait: false,
          list: [],
          disabled: function(){
            return  this.query.length == 0 && !this.only_my
          }.bind(this),
          exe: async function () {
            return new Promise(async(resolve, reject)=>{
              this.load.is_wait = true
              try{
                this.load.list = []
                let users = []
                if(this.only_my){
                  let res = {}
                  let logins = []
                  let data = await setting.soz_user.get_users(this.user.login)
                  data.result.forEach((i)=>{
                    logins.push(i.soz_login)
                    res[i.soz_login] = i
                  })
                  if(logins.length > 0){
                    let soz =  await proxy.user.get(this.contour, 50, null, logins, null)
                    users = soz.result
                    users.forEach((i)=>{
                      delete res[i.login]
                    })
                    for(let k in res){
                      let o = res[k]
                      users.push({
                        id: null,
                        firstname: o.firstname,
                        lastname: o.lastname,
                        middlename: o.middlename,
                        role: o.role,
                        description: o.description,
                        login: o.soz_login,
                        status: null
                      })
                    }
                  }
                }
                else if(this.query.length > 0){
                  // подгрузить данные поиска
                  let soz =  await proxy.user.get(this.contour, this.limit, null, null, this.query)
                  //debugger
                  users = soz.result
                }
                this.load.list = users
                this.load.is_wait = false
                resolve()
              }
              catch (e){
                  // отправить ошибку загрузки пользователей на экран

                //reject(e)
              }
            })
          }.bind(this)
        },
        add:{
          is_open: false,
          is_wait: false,
          id: '',
          fn: '',
          ln: '',
          mn: '',
          desc: '',
          role: '',
          login: '',
          init: function(){
            this.add.is_open = true
            this.add.id = ''
            this.add.fn = ''
            this.add.ln = ''
            this.add.mn = ''
            this.add.desc = ''
            this.add.role = ''
            this.add.login = ''
          }.bind(this),
          disabled: function () {
            return this.add.fn.length == 0
            || this.add.ln.length == 0
            || this.add.mn.length == 0
            || this.add.role.length == 0
            || this.add.login.length == 0
          }.bind(this),
          exe: async function () {
            this.add.is_wait = true
            let r = await proxy.user.save_user(this.contour, this.add.login, this.add.role, this.add.fn, this.add.ln, this.add.mn, this.add.desc)
            let r2 = await setting.soz_user.save(this.user.login, this.add.login, this.add.role, this.add.fn, this.add.ln, this.add.mn, this.add.desc)
            await this.load.exe()
            this.add.is_wait = false
            this.add.cancel()
          }.bind(this),
          cancel: function(){
            this.add.is_open = false
          }.bind(this)
        }
      }
    },
    computed:{
      db(){
        db.view.soz_users.query(this.query)
        db.view.soz_users.limit(this.limit)
        db.view.soz_users.only_my(this.only_my)
        return ''
      }
    },
    asyncComputed: {
      async on_contour(){
        //let c = this.contour

        return ''
      }
    },
    methods:{
      async on_contour_changed(e){
        this.contour = e.name
        await this.load.exe()
      },
      async on_only_my_changed(v){
        this.only_my = v
        //console.log(v2)
        //let ccc = this.only_my
        await this.load.exe()
      },
      convert_date(input){
        if(input === null || input === undefined || input.length == 0 )
          return null
        return moment(input, 'YYYY-MM-DDTHH:mm:ss:SSS')
          .format('DD.MM.YYYY HH:mm:ss')
      },
//      on_account_select(selection){
//         this.selection = selection
//      }
    },
    async mounted(){
      eve.v.main.contour(this.on_contour_changed)
      await this.load.exe()
    },
    destroyed(){
      eve.v.main.contour(this.on_contour_changed)
    }
  }
</script>

<style scoped>
  .error{
    color: #F56C6C;
  }
  .online{
    color: #13ce66
  }
  .offline{
    color: #ff4949
  }
  .full{
    width: 100%;
  }
  .top_offset{
    margin-top: 5px;
  }
  .label{
    display: inline-block;
    width: 110px;
    font-weight: 800;
  }
</style>
