<template xmlns:v-popover="http://www.w3.org/1999/xhtml">
  <div>
    <el-popover
      ref="view_clone"
      width="230"
      v-model="clone.is_open"
      trigger="click"
      placement="bottom-start"
    >
      <el-select class="full" v-model="clone.from">
        <el-option v-for="(v, k) in contours_from" :key="k" :value="k" :label="v"></el-option>
      </el-select>
      <el-select class="full top_offset" v-model="clone.to">
        <el-option v-for="(v, k) in contours_to" :key="k" :value="k" :label="v"></el-option>
      </el-select>
      <el-input v-model="clone.order_id" placeholder="номер заявки" class="top_offset" ></el-input>

      <div class="top_offset">
        <el-button type="primary" :disabled="clone.disabled()" :loading="clone.is_wait" @click="clone.exe()" >клонировать</el-button>
        <el-button type="text" @click="clone.cancel()" >отмена</el-button>
      </div>
    </el-popover>

    <!-- кнопка добавление -->
    <el-button type="text" :loading="clone.is_wait" v-popover:view_clone @click="clone.init()">клонировать</el-button>
    <el-table
      :data="cloned"
      style="width: 100%"
      height="200"
      border="true"
    >
      <el-table-column
        property="origin_id"
        label="оригинал"
        resizable
        show-overflow-tooltip
      ></el-table-column>
      <el-table-column
        property="copy_id"
        label="копия"
        resizable
        show-overflow-tooltip
      ></el-table-column>
    </el-table>
    {{db}}
  </div>
</template>

<script>
  import Vue from 'vue'
  import monitoring from '../provider/soz/monitoring'
  import setting from '../provider/common/setting'
  import proxy from '../provider/soz/proxy'
  import utility from '../provider/soz/utility'
  import db from  '../db'
  import eve from '../event'
  import sets from '../sets'
  import assign from 'object-assign'

  let from = assign({}, sets.contours, {'prod': 'ПРОД'})
  let to = {}
  to['test.even'] = sets.contours['test.even']
  to['test.odd'] = sets.contours['test.odd']
  to['preprod'] = sets.contours['preprod']

  export default {
    name: 'xerox',
    data() {
      return {
        cloned: db.view.xerox.cloned_list(),
        contours_from: from,
        contours_to: to,
        clone:{
          is_open: false,
          is_wait: false,
          from: db.view.xerox.from(),
          to: db.view.xerox.to(),
          order_id: '',
          init: function () {
            this.clone.is_open = true
          }.bind(this),
          disabled: function () {
            return this.clone.from.length == 0
            || this.clone.to.length == 0
            || this.clone.order_id.length == 0
          }.bind(this),
          exe: async function () {
            this.clone.is_wait = true
            try {
              let res = await utility.copy(this.clone.from, this.clone.to, this.clone.order_id)

              let v_from = `${this.clone.order_id} [${sets.contours[this.clone.from]}]`
              let v_to = `${res.result} [${sets.contours[this.clone.to]}]`
              this.cloned.unshift({origin_id: v_from, copy_id: v_to })
              while (this.cloned.length > 10){
                this.cloned.pop()
              }
              eve.app.notify.success('Заявка клонирована успешно', `Номер новой заявки ${res.result}`)
            }
            catch (e){
              eve.app.notify.error('Ошибка при клонировании', e)
            }
            this.clone.is_wait = false
            this.clone.cancel()
          }.bind(this),
          cancel: function () {
            this.clone.is_open = false
          }.bind(this),
        },
      }
    },
    computed: {
      db(){
        db.view.xerox.from(this.clone.from)
        db.view.xerox.to(this.clone.to)
        db.view.xerox.cloned_list(this.cloned)
        return ''
      }
    },
    methods:{
      on_contour_changed(e){ this.contour = e.name },
      on_account_select(selection){
         this.selection = selection
      }
    },
    mounted(){
      eve.v.main.contour(this.on_contour_changed)
    },
    destroyed(){
      eve.v.main.contour(this.on_contour_changed)
    }
  }
</script>

<style scoped>
  .error{
    color: #F56C6C;
  }
  .online{
    color: #13ce66
  }
  .offline{
    color: #ff4949
  }
  .full{
    width: 100%;
  }
  .top_offset{
    margin-top: 5px;
  }
  .label{
    display: inline-block;
    width: 100px;
    font-weight: 800;
  }
</style>
