*{
  font-size: 14px;
  font-family: 'Exo 2';
  margin: 0px;
}
.vue-scrollbar__scrollbar-vertical{
  z-index: 2;
}
.vue-scrollbar__scrollbar-horizontal{
  z-index: -2;
}

.elabel{
  font-style: italic;
  border-bottom: 1px dashed #b4bccc;
  font-weight: 100;
  cursor: pointer;
}

.elabel:active{
  color: #b4bccc;
}
.elabel:hover{
  color: #409eff;
}
::-ms-clear { display: none; }
