<template>
  <section id="app">
    <section :is="window"></section>
  </section>
</template>

<script>
import main from './components/layout/main.vue'
import auth from './components/layout/auth.vue'
import connecting from './components/layout/connecting.vue'
import eve from './event'
import db from './db'
import a from './provider/common/auth'
import setting from './provider/common/setting'
import repeat from './util/repeat'

// #F56C6C - красный
// #66BB6A - зеленый

let login_cancel = null
let user = db.user()

export default {
  name: 'app',
  data(){
    return{
      login: user.login||'',
      login_time: db.login_time()||'',
      is_connected: false,
    }
  },
  components: {
    layout: main,
    auth: auth,
    connecting: connecting
  },
  computed:{
    window(){

      if(this.is_connected)
      {
        if(this.login.length == 0){
          return 'layout'
        }
        else{
          return 'layout'
        }
      }
      else{
        return 'connecting'
      }
    }
  },
  methods:{
    on_connected(){
        this.is_connected = true
        //login_cancel = repeat(120000, this.login_check, true)
    },
    on_disconnected(){
        this.is_connected = false
//        if(login_cancel)
//          login_cancel()
    },
    // вывод оповещений
    on_notify_info(e){
      this.$notify({
        title: e.title,
        message: e.message,
        type: 'info',
        position: 'bottom-right',
        duration: 3000
      });
    },
    on_notify_success(e){
      this.$notify({
        title: e.title,
        message: e.message,
        type: 'success',
        position: 'bottom-right',
        duration: 0
      });
    },
    on_notify_waining(e){
      this.$notify({
        title: e.title,
        message: e.message,
        type: 'warning',
        position: 'bottom-right',
        duration: 0
      });
    },
    on_notify_error(e){
      this.$notify({
        title: e.title,
        message: e.message,
        type: 'error',
        position: 'bottom-right',
        duration: 0
      });
    },
    on_login(e){ this.login = e.name },
    on_logout(){ this.login = '' },
    async login_check(){
      if(this.login == '')
          return
      let lt = new Date(-8640000000000000) // min_date
      if(this.login_time != ''){
        lt = new Date(this.login_time)
      }
      let ct = new Date()
      let diff = Math.abs(ct.getTime() - lt.getTime()) / 3600000;
      if(diff > 12){
        try{
          await setting.save_enter(this.login)
          this.login_time = ct.toString()
          db.login_time(ct.toString())
        }
        catch (e){}
      }
    }
  },
  mounted(){
    eve.db.opened(this.on_connected)
    eve.db.closed(this.on_disconnected)

    eve.app.notify.info(this.on_notify_info)
    eve.app.notify.success(this.on_notify_success)
    eve.app.notify.warn(this.on_notify_waining)
    eve.app.notify.error(this.on_notify_error)

    eve.app.login(this.on_login)
    eve.app.logout(this.on_logout)

  },
  destroyed(){
    eve.app.notify.info(this.on_notify_info, false)
    eve.app.notify.success(this.on_notify_success, false)
    eve.app.notify.warn(this.on_notify_waining, false)
    eve.app.notify.error(this.on_notify_error, false)

    eve.app.login(this.on_login, false)
    eve.app.logout(this.on_logout, false)
    eve.db.opened(this.on_connected, false)
    eve.db.closed(this.on_disconnected, false)

  }
}
</script>

<style></style>
